# Yankees - Event Propensity - Next Event Buyer Model
* StellarAlgo Data Science
* Ryan Kazmerik, Nakisa Rad, Joey Lai, Shawn Sutherland, Matt Bahler, Pat Faith
* Feb 09, 2022

## Hypothesis
Each team has different tier (or quality) of games, based on day of the week, time of the season, opponent, etc. We think that by using previous buyer behaviour we can make a prediction on whether the fan will purchase for the next game or not.

## Experiment
This section details our experiment including querying data, data transformations, feature selection and modelling.

In [5]:
import getpass
import matplotlib.pyplot as plt
import pyodbc
import pandas as pd
import warnings

from pycaret.classification import *

warnings.filterwarnings('ignore')
%config InlineBackend.figure_format = 'retina'

### Let's connect to MSSQL and run a stored proc to get our dataset:

In [ ]:
# connect to SQL Server.
SERVER = '54.164.224.129'  
DATABASE = 'stlrYankees' 
USERNAME = 'dsAdminWrite' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

In [3]:
cursor = CNXN.cursor()

query = "SELECT * FROM datascience.yankees.event_propensity_training_noFirstPurchases2"
    
df = pd.read_sql(query, CNXN)
    
CNXN.commit()
cursor.close()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266386 entries, 0 to 266385
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   daysOut              266386 non-null  object
 1   minDaysOut           266386 non-null  int64
 2   maxDaysOut           147819 non-null  float64
 3   dimCustomerMasterId  266386 non-null  int64
 4   recent_openRate      266386 non-null  float64
 5   recent_clickRate     266386 non-null  float64
 6   eventDate            266386 non-null  datetime64[ns]
 7   eventName            266386 non-null  object
 8   inMarket             242800 non-null  object
 9   distanceToVenue      242800 non-null  float64
 10  tenure               266386 non-null  int64
 11  did_purchase         266386 non-null  int64
 12  events_purchased     266386 non-null  int64
 13  frequency_opponent   266386 non-null  float64
 14  frequency_eventDay   266386 non-null  float64
 15  frequency_eventTime  266386 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(3)
memory usage: 32.5+ MB

### We should create separate out some data for training the model and some for evaluating:

In [5]:
# copy your main dataframe
df_dataset = df

df_train = df_dataset.sample(frac=0.85, random_state=786)
df_eval = df_dataset.drop(df_train.index)

df_train.reset_index(drop=True)
df_eval.reset_index(drop=True)

# print out the number of records for training and eval
print('Data for Modeling: ' + str(df_train.shape))
print('Unseen Data For Predictions: ' + str(df_eval.shape), end="\n\n")

df_train.info()

Data for Modeling: (226428, 16)
Unseen Data For Predictions: (39958, 16)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 226428 entries, 158559 to 178255
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   daysOut              226428 non-null  object
 1   minDaysOut           226428 non-null  int64
 2   maxDaysOut           125558 non-null  float64
 3   dimCustomerMasterId  226428 non-null  int64
 4   recent_openRate      226428 non-null  float64
 5   recent_clickRate     226428 non-null  float64
 6   eventDate            226428 non-null  datetime64[ns]
 7   eventName            226428 non-null  object
 8   inMarket             206404 non-null  object
 9   distanceToVenue      206404 non-null  float64
 10  tenure               226428 non-null  int64
 11  did_purchase         226428 non-null  int64
 12  events_purchased     226428 non-null  int64
 13  frequency_opponent   226428 non-null  float64
 14  frequency_eventDay   226428 non-null  float64
 15  frequency_eventTime  226428 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(5), object(3)
memory usage: 29.4+ MB

### Now we can model the data using a binary classification prediction for the target field to see how likely a customer is to purchase:

In [6]:
setup(
    data= df_train, 
    target="did_purchase", 
    train_size = 0.80,
    data_split_shuffle=True,
    categorical_features=["inMarket"],
    date_features=["eventDate"],
    ignore_features=[
        "dimCustomerMasterId",
        "eventName",
        "minDaysOut",
        "maxDaysOut"
    ],
    silent=True,
    verbose=False,
    numeric_features=[
        "distanceToVenue",
        "events_purchased",
        "frequency_eventDay",
        "frequency_opponent",
        "frequency_eventTime",
        "recent_clickRate",
        "recent_openRate",
        "tenure"
    ]
);

In [7]:
model_matrix = compare_models(
    fold= 10, 
    include= ["lr"]
)

### Let's choose the best performing model from our model matrix:

In [8]:
best_model = create_model(
    model_matrix, 
    fold= 10
)