In [1]:
import pandas as pd

from pycaret.classification import *
from shared_utilities import helpers

from importlib import reload
reload(helpers)

In [2]:
df = helpers.get_product_propensity_dataset(
    cluster="prod-app",
    database="stlrmls",
    lkupclientid="31",
    start_year=2010,
    end_year=2021
)

df.shape

Authorized as AROASQ4JELIXYLYV6P4UV:rkazmerik@stellaralgo.com

(116095, 24)

In [3]:
df.head()

,lkupclientid,clientcode,dimcustomermasterid,distance,seasonyear,events_prior,attended_prior,events_last,attended_last,tenure,atp_last,product_current,product_last,spend_current,volume_current,attendance_current,events_current,sends,sends_prior,opens,opens_prior,date_last_send,date_last_touch,date_last_save
0,31,SACFC,457921207,69.34,2019,1,1,1,1,0,37.28,None,None,0.0,0,0,0,0.0,6.0,0.0,10.0,2022-06-24,None,2022-05-03
1,31,SACFC,457921207,69.34,2021,1,1,0,0,2,0.00,None,None,0.0,0,0,0,0.0,6.0,0.0,10.0,2022-06-24,None,2022-05-03
2,31,SACFC,457921209,10.34,2015,1,0,1,0,0,26.00,None,Individual,0.0,0,0,0,7.0,33.0,2.0,10.0,2022-07-15,None,2022-05-03
3,31,SACFC,457921209,10.34,2016,1,0,0,0,1,0.00,None,None,0.0,0,0,0,7.0,33.0,2.0,10.0,2022-07-15,None,2022-05-03
4,31,SACFC,457921209,10.34,2017,1,0,0,0,2,0.00,None,None,0.0,0,0,0,7.0,33.0,2.0,10.0,2022-07-15,None,2022-05-03

In [11]:
product_plans = ["Full Season", "Half Season", "Mini/Flex Plan"]

df = df[df["product_current"].isin(product_plans) | df["product_last"].isin(product_plans)]
df = df.reset_index(drop=True)

In [12]:
df['product_current'].value_counts()

Full Season       1490
None              1116
Individual          92
Mini/Flex Plan      39
Group               17
Half Season          8
Name: product_current, dtype: int64

In [13]:
df_train = df.sample(frac=0.70, random_state=786)
df_train = df_train.reset_index(drop=True)

df_eval = df.drop(df_train.index)
df_eval = df_eval.reset_index(drop=True)

print(df_train.shape)
print(df_eval.shape)

(1933, 24)
(829, 24)

In [14]:
df_train["product_current"].value_counts()

Full Season       1050
None               771
Individual          71
Mini/Flex Plan      23
Group               12
Half Season          6
Name: product_current, dtype: int64

In [15]:
df_eval["product_current"].value_counts()

Full Season       441
None              342
Individual         26
Mini/Flex Plan     11
Group               6
Half Season         3
Name: product_current, dtype: int64

In [16]:
setup(
    data=df_train,
    target="product_current",
    train_size=0.90,
    data_split_shuffle=True,
    silent=True,
    ignore_features=[
        "date_last_send",
        "date_last_save",
        "date_last_touch"
    ]
);

In [17]:
best_model = create_model("rf");