# Test - Data Availability
* StelllarAlgo Data Science
* Ryan Kazmerik & Nakisa Rad
* Apr 26, 2022

In [1]:
import getpass
import pandas as pd
import pyodbc

### Create a connection to MSSQL PROD:

In [9]:
# connect to SQL Server.
SERVER = '34.206.73.189' 
DATABASE = 'datascience' 
USERNAME = 'dsAdminWrite' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

### Now we can run our stored proc to get retention training and inference datasets:

In [10]:
lkupclientid = 13
dbname = 'stlrMLS'

cursor = CNXN.cursor()

storedProc = (
    f"""Exec {dbname}.[ds].[getRetentionScoringModelData] {lkupclientid}"""
)

df = pd.read_sql(storedProc, CNXN)

CNXN.commit()
cursor.close()

print(f"TOTAL ROWS: {df.shape[0]}")
df.head()

TOTAL ROWS: 16153

,lkupClientId,dimCustomerMasterId,customerNumber,year,productGrouping,totalSpent,recentDate,attendancePercent,renewedBeforeDays,isBuyer,...,maritalStatus,lengthOfResidenceInYrs,annualHHIncome,education,urbanicity,credits_after_refund,is_Lockdown,NumberofGamesPerSeason,CNTPostponedGames,isNextYear_Buyer
0,13,463639507,AXS-9063648,2017,Full Season,774.0,2017-10-22,0.764706,120,TRUE,...,1,None,None,None,None,0.0,0,17,None,1
1,13,463639520,AXS-8026589,2017,Full Season,1026.0,2017-10-22,0.823529,215,TRUE,...,1,None,None,None,None,0.0,0,17,None,1
2,13,463639568,AXS-8026390,2017,Full Season,1359.0,2017-10-11,0.588235,215,TRUE,...,1,None,None,None,None,0.0,0,17,None,1
3,13,463639948,AXS-8026663,2017,Full Season,1732.5,2017-10-22,0.941176,229,TRUE,...,1,None,None,None,None,0.0,0,17,None,1
4,13,463640455,AXS-10548666,2017,Full Season,474.0,2017-09-30,1.000000,3,TRUE,...,1,None,None,None,None,0.0,0,17,None,0

### Let's check how much data we have for each season:

In [11]:
df["year"].value_counts()

2018    3164
2017    3098
2022    2654
2021    2633
2020    2498
2019    2106
Name: year, dtype: int64

### Done