# MILB-League-Based-Retention-Model

* Stellar Algo
* Nakiska Rad & Ryan Kazmerik
* August 17, 2021

In [2]:
import getpass
import psycopg2
import pandas as pd
import warnings

from pycaret.classification import *

warnings.filterwarnings('ignore')

## Let's get our dataset from RedShift. We will select the full season product only and seasons before 2020, since 2020 was a strange year due to covid, and 2021 does not have any repurchasing data available

In [3]:
# connecting to Redshift
conn = psycopg2.connect(
    dbname = 'datascience',
    host = 'sagemaker.cbpdnejrkweo.us-east-1.redshift.amazonaws.com',
    port = 5439,
    user = 'xerris',
    password='ThisIsDataScience20!!',
    sslmode='require'
)

product_grouping = "Full Season" 
max_season_year = 2019

cur = conn.cursor()

sample_query = f'''
    SELECT 
        r.dimcustomermasterid,
        recency,
        attendancePercent,
        totalSpent,
        distToVenue,
        source_tenure,
        renewedBeforeDays,
        missed_games_1,
        missed_games_2,
        missed_games_over_2,
        isnextyear_buyer
    FROM 
        ds.retentionscoring r 
    WHERE 
        lkupclientid in(9,11,12,15,17,19,20,21,24,25,26,27,28,30,34,40,43,44,46,47,48,49,51,59) 
    AND productgrouping in({"'"+ str(product_grouping) + "'"}) 
    AND year < {max_season_year};
'''

b = cur.execute(sample_query)
p = cur.fetchall()

df = pd.DataFrame(p)

new_columns = ['dimcustomermasterid','recency','attendancePercent','totalSpent','distToVenue','source_tenure','renewedBeforeDays','missed_games_1','missed_games_2','missed_games_over_2','isnextyear_buyer']

df = pd.DataFrame(p,columns=new_columns)

df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18319 entries, 0 to 18318
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dimcustomermasterid  18319 non-null  object
 1   recency              18319 non-null  int64
 2   attendancePercent    18319 non-null  object
 3   totalSpent           18319 non-null  object
 4   distToVenue          18319 non-null  object
 5   source_tenure        18319 non-null  int64
 6   renewedBeforeDays    18319 non-null  int64
 7   missed_games_1       18319 non-null  int64
 8   missed_games_2       18319 non-null  int64
 9   missed_games_over_2  18319 non-null  int64
 10  isnextyear_buyer     18319 non-null  int64
dtypes: int64(7), object(4)
memory usage: 1.5+ MB

,dimcustomermasterid,recency,attendancePercent,totalSpent,distToVenue,source_tenure,renewedBeforeDays,missed_games_1,missed_games_2,missed_games_over_2,isnextyear_buyer
0,272818801,0,0.255814,5848,0.87,1460,209,0,0,3,1
1,272826561,9,0.144366,2485,78.2,1095,212,0,0,5,1
2,272836614,7,0.0819672,976,5.74,559,196,0,0,6,0
3,272856776,0,0.211806,2520,0.87,414,55,0,0,6,0
4,272877256,0,0.374016,2222.5,5.63,149,5,4,0,8,0

## We need to hold back some samples from the dataset for evalution, so let's create the evaluation dataset

In [4]:
data = df.sample(frac=0.95, random_state=786)
data_unseen = df.drop(data.index)

data.reset_index(inplace=True, drop=True)
data_unseen.reset_index(inplace=True, drop=True)

print('Data for Modeling: ' + str(data.shape))
print('Unseen Data For Predictions: ' + str(data_unseen.shape))

Data for Modeling: (17403, 11)
Unseen Data For Predictions: (916, 11)

## Now we can model the data using PyCaret, with a binary classification prediction for the isnextyear_buyer field to see how likely a customer is to re-purchase

In [5]:
model = setup(data, target='isnextyear_buyer', train_size = 0.8)

In [6]:
model_matrix = compare_models(fold=3, exclude=['qda'])

/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute standard_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_coef_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: Attribute average_intercept_ was deprecated in version 0.23 and will be removed in 0.25.
  warnings.warn(msg, category=FutureWarning)
/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=4.44144e-19): result may not be accurate.
  overwrite_a=True).T
/opt/miniconda3/envs/stellar/lib/python3.7/site-packages/sklearn/linear_model/_ridge.py:148: LinAlgWarning: Ill-conditioned matrix (rcond=4.71378e-19): result may not be accurate.
  overwrite_a=True).T