In [1]:
import psycopg2
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score, roc_auc_score, make_scorer
from sklearn.model_selection import GridSearchCV #cross validation
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import plot_confusion_matrix
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [2]:
# connecting to Redshift
conn=psycopg2.connect(dbname = 'dsprod',
                                    host = 'sagemaker.cbpdnejrkweo.us-east-1.redshift.amazonaws.com',
                                    port = 5439,
                                    user = 'admin',
                                    password='QCxaxQrpijap79XX6TiX',
                                    sslmode='require')

In [3]:
teamproductyear_id= 56 #1,2,3,...,74,88
# 18,19,20 no data for testing
#ta 42
# 3,18 null for test
# 56 doesn't look good only 12 records for training

In [7]:
cur2 = conn.cursor()
sample_query_1 = f'''select teamproductyearid,lkupclientid,clientcode,productgrouping,trainseasonyear,testseasonyear,facttestprevyear from ds.productyear_all r where teamproductyearid ={teamproductyear_id} ;'''
bnew=cur2.execute(sample_query_1)
pnew = cur2.fetchall()
dfparam = pd.DataFrame(pnew)
new_columns_param = ['teamproductyearid','lkupclientid','clientcode','productgrouping','trainseasonyear','testseasonyear','facttestprevyear']
dfparam3 = pd.DataFrame(pnew,columns=new_columns_param)
dfparam3.head()

,teamproductyearid,lkupclientid,clientcode,productgrouping,trainseasonyear,testseasonyear,facttestprevyear
0,56,46,knights,Half Season,2019,2021,None

In [8]:
paramindex= 0

In [9]:
client_id = dfparam3._get_value(0,'lkupclientid')
client_code= dfparam3._get_value(0,'clientcode')
product_grouping =dfparam3._get_value(0,'productgrouping') 
train_season_year =dfparam3._get_value(0,'trainseasonyear') 
test_season_year =dfparam3._get_value(0,'testseasonyear') 
print(client_id)
print(client_code)
print(product_grouping)
print(train_season_year)
print(test_season_year)

46
knights
Half Season
2019
2021

In [10]:
cur = conn.cursor()
sample_query = f'''select r.dimcustomermasterid,recency,attendancePercent,totalSpent,distToVenue,source_tenure,renewedBeforeDays,missed_games_1,missed_games_2,missed_games_over_2,isnextyear_buyer,isnextyear_samepkg_buyer,pkgupgrade_status from ds.retentionscoring r where lkupclientid ={client_id} and productgrouping in({"'"+ str(product_grouping) + "'"}) and year<{train_season_year};'''
b=cur.execute(sample_query)
p = cur.fetchall()
df = pd.DataFrame(p)
new_columns = ['dimcustomermasterid','recency','attendancePercent','totalSpent','distToVenue','source_tenure','renewedBeforeDays','missed_games_1','missed_games_2','missed_games_over_2','isnextyear_buyer','isnextyear_samepkg_buyer','pkgupgrade_status']
df3 = pd.DataFrame(p,columns=new_columns)
df3.drop(['isnextyear_samepkg_buyer','pkgupgrade_status'], axis=1, inplace=True)
df3.head()

,dimcustomermasterid,recency,attendancePercent,totalSpent,distToVenue,source_tenure,renewedBeforeDays,missed_games_1,missed_games_2,missed_games_over_2,isnextyear_buyer
0,323696066,4,0.171875,792,2.64,51,7,0,1,1,0
1,352052982,0,0.510417,594,15.13,97,37,2,0,1,1
2,353600339,0,0.6875,198,2.64,79,26,1,2,0,1
3,353639238,0,0.9375,198,2.64,64,11,1,0,0,1
4,353762323,4,0.75,99,18.83,265,49,0,0,1,1

In [11]:
df3.count()

dimcustomermasterid    12
recency                12
attendancePercent      12
totalSpent             12
distToVenue            12
source_tenure          12
renewedBeforeDays      12
missed_games_1         12
missed_games_2         12
missed_games_over_2    12
isnextyear_buyer       12
dtype: int64

In [9]:
df3['dimcustomermasterid']= pd.to_numeric(df3['dimcustomermasterid'])
df3['attendancePercent']= pd.to_numeric(df3['attendancePercent'])
df3['totalSpent']= pd.to_numeric(df3['totalSpent'])
df3['distToVenue']= pd.to_numeric(df3['distToVenue'])

In [10]:
X = df3.drop(['isnextyear_buyer'], axis=1).copy()
X.head()

Empty DataFrame
Columns: [dimcustomermasterid, recency, attendancePercent, totalSpent, distToVenue, source_tenure, renewedBeforeDays, missed_games_1, missed_games_2, missed_games_over_2]
Index: []

In [11]:
y = df3['isnextyear_buyer'].copy()
y.head()

Series([], Name: isnextyear_buyer, dtype: object)

In [12]:
y.unique()

array([], dtype=object)

In [13]:
sum(y)/len(y)

ZeroDivisionError: division by zero

In [ ]:
clf= xgb.XGBClassifier(objective='binary:logistic',seed=42,gamma=0.25,lear_rate=0.1,max_depth=6,reg_lambda=20,scale_pos_weight=3,subsample=0.9,colsample_bytree=0.5)
clf.fit(X,y,verbose=True,early_stopping_rounds=10,eval_metric='aucpr',eval_set=[(X,y)])

In [ ]:
# check Important features
feature_importances_df = pd.DataFrame(
    {"feature": list(X.columns), "importance": clf.feature_importances_}
).sort_values("importance", ascending=False)

# Display
feature_importances_df

In [ ]:
feature_importances=feature_importances_df[['feature','importance']]
feature_importances['productgrouping'] = product_grouping
feature_importances=feature_importances[['feature','importance']]
feature_importances.drop([0],axis=0,inplace=True) 
feature_importances

In [ ]:
feature_importance_dict = {}
for ind in feature_importances.index:
     feature_importance_dict[feature_importances['feature'][ind]] = float(feature_importances['importance'][ind])
print(feature_importance_dict)

In [ ]:
#from sshtunnel import SSHTunnelForwarder
from sshtunnel import open_tunnel
from pymongo import MongoClient
import ssl
import datetime

connection = MongoClient('mongodb://sean:monstertruck1@52.54.218.77:28001/?authMechanism=SCRAM-SHA-1')
# connection
    #for x in (connection.views.views_meta_data.find_one()):
db = connection['views']
collection = db['views_meta_data']
myquery = { "_id":client_code }
tenant_doc = collection.find_one(myquery)
today = datetime.datetime.now()
if 'date_last_retention_scores' not in tenant_doc:
    tenant_doc['date_last_retention_scores'] = {}
tenant_doc['date_last_retention_scores']= today        
collection.update_one(myquery, { '$set': tenant_doc },upsert=True)
    
if 'attributes_std' not in tenant_doc:
    tenant_doc['attributes_std'] = {}
tenant_doc['attributes_std'][product_grouping] = feature_importance_dict        
collection.update_one(myquery, { '$set': tenant_doc },upsert=True)


    #newvalues = { "$set":{ "attributes_std": data_dict }  }
#     collection.update_one(myquery, newvalues)
    #collection.insert([{"_id":"coyotestest"}, {"attributes_std": data_dict}])

       # print(x)
#connection.close()
#tunnel.close()
   # tunnel

In [ ]:
# Importing the data
cur = conn.cursor()
sample_query2 = f'''select r.dimcustomermasterid,recency,attendancePercent,totalSpent,distToVenue,source_tenure,renewedBeforeDays,missed_games_1,missed_games_2,missed_games_over_2,isnextyear_buyer,isnextyear_samepkg_buyer,pkgupgrade_status from ds.retentionscoring r where lkupclientid ={client_id} and productgrouping in({"'"+ str(product_grouping) + "'"}) and year={test_season_year};'''
b2=cur.execute(sample_query2)
p2 = cur.fetchall()
df_test2 = pd.DataFrame(p2)
new_columns_test = ['dimcustomermasterid','recency','attendancePercent','totalSpent','distToVenue','source_tenure','renewedBeforeDays','missed_games_1','missed_games_2','missed_games_over_2','isnextyear_buyer','isnextyear_samepkg_buyer','pkgupgrade_status']
df_test = pd.DataFrame(p2,columns=new_columns)
df_test.drop(['isnextyear_samepkg_buyer','pkgupgrade_status'], axis=1, inplace=True)
df_test.head()

In [ ]:
df_test.count()

In [ ]:
df_test['dimcustomermasterid']= pd.to_numeric(df_test['dimcustomermasterid'])
df_test['attendancePercent']= pd.to_numeric(df_test['attendancePercent'])
df_test['totalSpent']= pd.to_numeric(df_test['totalSpent'])
df_test['distToVenue']= pd.to_numeric(df_test['distToVenue'])

In [ ]:
X_test = df_test.drop(['isnextyear_buyer'], axis=1).copy()
X_test.head()

In [ ]:
y_pred = clf.predict_proba(X)
#print(y_pred)

accuracy = accuracy_score(y_test, y_pred)
accuracy

In [ ]:
# make predictions for test data
y_pred_test = clf.predict_proba(X_test)
# y_pred_proba = clf.predict_proba(X_test)
#y_pred_test.head()

In [ ]:
import numpy as np
# Creating the array to convert
array_y_pred_test = np.array(y_pred_test)

In [ ]:
# Create the dataframe
df_y_pred_test = pd.DataFrame(array_y_pred_test)
df_y_pred_test.columns = ['nonbuyer','buyer']
#df_y_pred_test

In [ ]:
result_test = pd.concat([df_y_pred_test, X_test], axis=1, join="inner")
#result_test

final_result = result_train.append(result_test, sort=False)
final_result

In [ ]:
result_test = result_test.drop(['nonbuyer'], axis=1).copy()

In [ ]:
result_test['buyer']= pd.to_numeric(result_test['buyer'])

In [ ]:
import datetime
today = datetime.datetime.now()
date_time = today.strftime("%m-%d-%Y %H:%M:%S")
print(date_time)

In [ ]:
newscors=result_test[['dimcustomermasterid','buyer']]
newscors.columns = ['dimcustomermasterid','buyer_score']
newscors['year'] = test_season_year
newscors['lkupclientid'] = client_id
newscors['productgrouping'] = product_grouping
newscors['insertDate'] = date_time
#newscors

In [ ]:
import pyodbc
# connect to SQL Server.
server = '34.206.73.189' 
database = 'datascience' 
username = 'nrad' 
password = '83F25619-D272-4660-98A2-93AF5CC18D59' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in newscors.iterrows():
    cursor.execute("INSERT INTO ds.finalscore (dimcustomermasterid,buyer_score,year,lkupclientid,productgrouping,insertDate) values(" + str(row.dimcustomermasterid) + "," + str(round(row.buyer_score,4))+ ","+ str(row.year) + "," + str(row.lkupclientid)+ ","+"'"+str(row.productgrouping)+"'"+ "," +"'"+str(row.insertDate)+"'" + ")")
cnxn.commit()
cursor.close()

In [ ]:
mongoscores=newscors[['dimcustomermasterid','buyer_score']]#dimcustomermasterid
mongoscores['id_tenant']= client_code
mongoscores['productgrouping'] = product_grouping
mongoscores['year'] = test_season_year
mongoscores['insertDate'] = datetime.datetime.now()
mongoscores.columns=['customerNumber','score','id_tenant','productgrouping','year','date']
mongoscores_dict = mongoscores.to_dict(orient='records')
#mongoscores_dict
#mongoscores.to_numpy()

In [ ]:
feature_importancesdict=feature_importances.to_dict(orient='records')
feature_importancesdict
# aa = {feature_importancesdict['feature']: feature_importancesdict['importance']}
aa = [{sample_dict['feature']: sample_dict['importance']} for sample_dict in feature_importancesdict]
result = {}
for d in aa:
    result.update(d)
#result

In [ ]:
## test
final_list = []
for single_dict in mongoscores_dict:
    temp_dict = {}
    temp_dict2 = {}
    temp_dict['customerNumber']=single_dict['customerNumber']
    temp_dict['id_tenant']=single_dict['id_tenant']
    temp_dict['productgrouping']=single_dict['productgrouping']
    temp_dict['year']=single_dict['year']
    temp_dict2 = {
        'score': single_dict['score'], 
        'date': single_dict['date'],
        'attribute': result
    }
    temp_dict['history']= temp_dict2
    final_list.append(temp_dict)
    
#final_list

In [ ]:
#from sshtunnel import SSHTunnelForwarder
from sshtunnel import open_tunnel
from pymongo import MongoClient
import ssl
import datetime

connection = MongoClient('mongodb://sean:monstertruck1@52.54.218.77:28001/?authMechanism=SCRAM-SHA-1')
# connection   
db = connection['views']
collection = db['scores_retention'] 
for i in final_list:
    myquery = {"customerNumber": i['customerNumber'],"id_tenant": i['id_tenant'],"product":i['productgrouping'] ,"year":i['year'] }
    tenant_doc = collection.find_one(myquery)
    
    if tenant_doc is None:
        myquery =  {
            "customerNumber": i['customerNumber'],
            "id_tenant": i['id_tenant'],
            "product":i['productgrouping'],
            "year":i['year'],
            "history": [i['history']]
        }
        collection.insert_one(myquery)
    
    else:

        tenant_doc['history'].append(i['history'])
        collection.update_one(myquery, { '$set': tenant_doc },upsert=True)
        
        
        #print(tenant_doc)
            #print(x)
#connection.close()
#tunnel.close()
   # tunnel

In [ ]:
feature_importances2= feature_importances
feature_importances2

In [ ]:
feature_importances2.at[1,'feature']='Recency'
feature_importances2.at[2,'feature']='Attendance'
feature_importances2.at[3,'feature']='Monetary'
feature_importances2.at[4,'feature']='Distance to Venue'
feature_importances2.at[5,'feature']='Tenure'
feature_importances2.at[6,'feature']='Time to Renew'
feature_importances2.at[7,'feature']='Missed Games Streak 1'
feature_importances2.at[8,'feature']='Missed Games Streak 2'
feature_importances2.at[9,'feature']='Missed Games Streak Over 2'
feature_importances2

In [ ]:
import datetime
today = datetime.datetime.now()
date_time = today.strftime("%m-%d-%Y %H:%M:%S")
print(date_time)

In [ ]:
feature_importances2['attrank']={1,2,3,4,5,6,7,8,9}
feature_importances2 ['lkupClientId'] = client_id
feature_importances2 ['modelVersnNumber'] = 2
feature_importances2 ['scoreDate'] = date_time
feature_importances2 ['loadId'] = 0
feature_importances2 ['product'] = product_grouping
feature_importances2.columns=['attribute','indexValue','attrank','lkupClientId','modelVersnNumber','scoreDate','loadId','product']
feature_importances2

In [ ]:
import pyodbc
# connect to SQL Server.
server = '34.206.73.189' 
database = 'datascience' 
username = 'nrad' 
password = '83F25619-D272-4660-98A2-93AF5CC18D59' 
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
# cursor.execute("INSERT INTO dbo.finalscore (dimcustomermasterid,buyer_score,lkupclientid,insertDate) values(1,1,1,null)")
for index, row in feature_importances2.iterrows():
    cursor.execute("INSERT INTO stlrMILB.dw.lkupRetentionAttributeImportance (attribute,product,indexValue,rank,lkupClientId,modelVersnNumber,scoreDate,loadId) values(" + "'" +str(row.attribute)+"'"+","+ "'"+str(product_grouping)+"'" +"," + str(round(row.indexValue,4)) + "," + str(row.attrank)+ ","+ str(row.lkupClientId) + "," + str(row.modelVersnNumber)+ "," + "'"+ str(row.scoreDate)+ "'"+ ","+ str(row.loadId)  + ")")
     #print("INSERT INTO stlrMLS.dw.lkupRetentionAttributeImportance (attribute,product,indexValue,rank,lkupClientId,modelVersnNumber,scoreDate,loadId) values(" + "'" +str(row.attribute)+"'"+","+ "'"+str(product_grouping)+"'" +"," + str(round(row.indexValue,4)) + "," + str(row.attrank)+ ","+ str(row.lkupClientId) + "," + str(row.modelVersnNumber)+ "," + "'"+ str(row.scoreDate)+ "'"+ ","+ str(row.loadId)  + ")")
    #cursor.execute("INSERT INTO stlrMLS.dw.lkupRetentionAttributeImportance (attribute,product,indexValue,rank,lkupClientId,modelVersnNumber,scoreDate,loadId) values(" + "'" +str(row.attribute)+"'"+","+ "'"+str(product_grouping)+"'" +"," + str(round(row.indexValue,4)) + "," + str(row.attrank)+ ","+ str(row.lkupClientId) + "," + str(row.modelVersnNumber)+ "," +str(row.scoreDate) + ","+ str(row.loadId)  + ")")
cnxn.commit()
cursor.close()