# legends - Extended Feature Selection
* StelllarAlgo Data Science
* Ryan Kazmerik & Nakisa Rad
* Feb 22, 2022

## Hypothesis
Two very important components of a machine learning model are feature selection and feature engineering. Our idea is that adding some more features to the StellarAlgo retention model could improve performance of the model. This notebook will test the standard StellarAlgo retention model features.

## Experiment
This section details our experiment including querying data, data transformations, feature selection and modelling.

In [1]:
import getpass
import pyodbc
import pandas as pd
import warnings
import matplotlib.pyplot as plt

from pycaret.classification import *

warnings.filterwarnings('ignore')

### Let's connect to MSSQL and run a stored proc to get our dataset:

In [2]:
# connect to SQL Server.
SERVER = '34.206.73.189' 
DATABASE = 'datascience' 
USERNAME = 'nrad' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

In [3]:
lkupclientid = 26 # legends

cursor = CNXN.cursor()

storedProc = (
    f"""Exec [stlrMILB].[ds].[getRetentionScoringModelData] {lkupclientid}"""
)

df = pd.read_sql(storedProc, CNXN)

# apply some data transformations
df["year"] = pd.to_numeric(df["year"])

CNXN.commit()
cursor.close()

df.head()
#df.info()

,lkupClientId,dimCustomerMasterId,customerNumber,year,productGrouping,totalSpent,recentDate,attendancePercent,renewedBeforeDays,isBuyer,source_tenure,tenure,distToVenue,totalGames,recency,missed_games_1,missed_games_2,missed_games_over_2,click_link,fill_out_form,open_email,send_email,unsubscribe_email,openToSendRatio,clickToSendRatio,clickToOpenRatio,posting_records,resale_records,resale_atp,forward_records,cancel_records,email,inbound_email,inbound_phonecall,inperson_contact,internal_note,left_message,outbound_email,outbound_phonecall,phonecall,text,unknown,gender,childrenPresentInHH,maritalStatus,lengthOfResidenceInYrs,annualHHIncome,education,urbanicity,credits_after_refund,is_Lockdown,NumberofGamesPerSeason,CNTPostponedGames,isNextYear_Buyer
0,26,320260385,170102,2018,Full Season,2128.0,2018-07-02,0.076087,29,TRUE,199,199,3.61,7,25,0,0,2,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,72,None,1
1,26,320260437,203722,2018,Full Season,1018.4,2018-08-25,0.155303,58,TRUE,205,205,7.63,11,4,0,0,6,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,72,None,0
2,26,320260565,143252,2018,Full Season,532.0,2018-08-28,0.171429,91,TRUE,237,237,3.61,7,1,1,0,3,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,72,None,1
3,26,320261287,161990,2018,Full Season,1330.0,2018-08-25,0.202899,120,TRUE,267,267,6.36,15,4,3,1,7,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,72,None,1
4,26,320261301,143717,2018,Full Season,1018.4,2018-08-26,0.223485,127,TRUE,274,274,2.63,18,3,2,1,6,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,72,None,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lkupClientId            265 non-null    int64
 1   dimCustomerMasterId     265 non-null    int64
 2   customerNumber          265 non-null    object
 3   year                    265 non-null    int64
 4   productGrouping         265 non-null    object
 5   totalSpent              265 non-null    float64
 6   recentDate              265 non-null    object
 7   attendancePercent       265 non-null    float64
 8   renewedBeforeDays       265 non-null    int64
 9   isBuyer                 265 non-null    object
 10  source_tenure           265 non-null    int64
 11  tenure                  265 non-null    int64
 12  distToVenue             265 non-null    float64
 13  totalGames              265 non-null    int64
 14  recency                 265 non-null    int64
 15  missed_games_1          265 non-null    int64
 16  missed_games_2          265 non-null    int64
 17  missed_games_over_2     265 non-null    int64
 18  click_link              265 non-null    int64
 19  fill_out_form           265 non-null    int64
 20  open_email              265 non-null    int64
 21  send_email              265 non-null    int64
 22  unsubscribe_email       265 non-null    int64
 23  openToSendRatio         265 non-null    float64
 24  clickToSendRatio        265 non-null    float64
 25  clickToOpenRatio        265 non-null    float64
 26  posting_records         265 non-null    int64
 27  resale_records          265 non-null    int64
 28  resale_atp              265 non-null    float64
 29  forward_records         265 non-null    int64
 30  cancel_records          265 non-null    int64
 31  email                   265 non-null    int64
 32  inbound_email           265 non-null    int64
 33  inbound_phonecall       265 non-null    int64
 34  inperson_contact        265 non-null    int64
 35  internal_note           265 non-null    int64
 36  left_message            265 non-null    int64
 37  outbound_email          265 non-null    int64
 38  outbound_phonecall      265 non-null    int64
 39  phonecall               265 non-null    int64
 40  text                    265 non-null    int64
 41  unknown                 265 non-null    int64
 42  gender                  265 non-null    object
 43  childrenPresentInHH     265 non-null    int64
 44  maritalStatus           265 non-null    int64
 45  lengthOfResidenceInYrs  0 non-null      object
 46  annualHHIncome          0 non-null      object
 47  education               0 non-null      object
 48  urbanicity              0 non-null      object
 49  credits_after_refund    265 non-null    float64
 50  is_Lockdown             265 non-null    int64
 51  NumberofGamesPerSeason  265 non-null    int64
 52  CNTPostponedGames       0 non-null      object
 53  isNextYear_Buyer        265 non-null    int64
dtypes: float64(8), int64(36), object(10)
memory usage: 111.9+ KB

### Let's also drop the features that only have a single value, as they won't add much differentiation to our model:

In [5]:
for col in df.columns:
    if len(df[col].unique()) == 1:
        df.drop(col,inplace=True,axis=1)
        
df.shape

(265, 19)

### We should also drop features that have a low correlation with the target label as they won't be useful for prediction, we'll only keep features that have a correlation above a set threshold:

In [6]:
cor = df.corr()

threshold = 0.05

#Correlation with output variable
cor_target = abs(cor["isNextYear_Buyer"])

#Selecting highly correlated features
relevant_features = cor_target[cor_target > threshold]

feats = []
for name, val in relevant_features.items():
    feats.append(name)

df_correlated = df[feats]

df_correlated.shape

df_correlated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   dimCustomerMasterId     265 non-null    int64
 1   year                    265 non-null    int64
 2   totalSpent              265 non-null    float64
 3   renewedBeforeDays       265 non-null    int64
 4   source_tenure           265 non-null    int64
 5   tenure                  265 non-null    int64
 6   distToVenue             265 non-null    float64
 7   totalGames              265 non-null    int64
 8   recency                 265 non-null    int64
 9   missed_games_1          265 non-null    int64
 10  missed_games_2          265 non-null    int64
 11  missed_games_over_2     265 non-null    int64
 12  is_Lockdown             265 non-null    int64
 13  NumberofGamesPerSeason  265 non-null    int64
 14  isNextYear_Buyer        265 non-null    int64
dtypes: float64(2), int64(13)
memory usage: 31.2 KB

### Now that we have the right features we can look at the correlations between them, if features are highly correlated with each other it might negatively impact the model:

In [7]:
corr = df_correlated.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

### In order to compare two sets of features, we need to create some datasets for training and evalution:

In [8]:
# select % of the data for training
df_train = df_correlated.sample(frac=0.8, random_state=786).reset_index(drop=True)

# create the eval datasets for A and B
df_eval = df_correlated.drop(df_train.index).reset_index(drop=True)

# print out the number of records for training and eval
print('Data for Modeling: ' + str(df_train.shape))
print('Unseen Data For Predictions: ' + str(df_eval.shape), end="\n\n")

Data for Modeling: (212, 15)
Unseen Data For Predictions: (53, 15)

### Now we can model the data using a binary classification prediction for the isnextyear_buyer field to see how likely a customer is to re-purchase.

In [9]:
setup(
    data= df_train, 
    target="isNextYear_Buyer", 
    train_size = 0.80,
    data_split_shuffle=True,
    silent=True,
    numeric_features=[
        "totalSpent",
        "renewedBeforeDays",
        "source_tenure",
        "tenure",
        "distToVenue",
        "totalGames",
        "recency",
        "missed_games_1",
        "missed_games_2",
        "missed_games_over_2",
        "is_Lockdown",
        "NumberofGamesPerSeason"
    ]
)

(0      1
 1      0
 2      1
 3      1
 4      0
       ..
 207    0
 208    1
 209    1
 210    1
 211    0
 Name: isNextYear_Buyer, Length: 212, dtype: int64,
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_groups_param_full',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
 None,
 None,
 [<pandas.io.formats.style.Styler at 0x7fe5640b67f0>],
      dimCustomerMasterId  year  totalSpent  renewedBeforeDays  source_tenure  \
 0              418179832  2019      604.34                156            557
 1              351995852  2019     1648.20                  6            512
 2              351995852  2018     1648.20                  1            148
 3              356093415  2018      312.00                 10            171
 4              351995887  2019     1648.20                  7            529
 ..                   ...   ...         ...                ...            ...
 207            458742471  2019     2103.80                 48            261
 208            355872509  2019     1273.00                 80            587
 209            356130606  2018      472.15                127            274
 210            320270435  2018     2099.98                 29            176
 211            320290900  2018      509.20                 43            190

      tenure  distToVenue  totalGames  recency  missed_games_1  missed_games_2  \
 0       557         5.42          23        3               5               1
 1       512         7.63          18        3               3               0
 2       148         7.63           8        5               0               0
 3       171         7.63           6        0               3               0
 4       529         3.61          21       14               0               1
 ..      ...          ...         ...      ...             ...             ...
 207     261         1.83          35        1               3               6
 208     587        84.87          11       10               3               0
 209     274        17.57           2        0               0               0
 210     176        11.21           0        0               0               0
 211     190         3.61          13        3               0               1

      missed_games_over_2  is_Lockdown  NumberofGamesPerSeason  \
 0                      8            0                     142
 1                      5            0                     142
 2                      5            0                      72
 3                      1            0                      72
 4                      7            0                     142
 ..                   ...          ...                     ...
 207                    8            0                     142
 208                    4            0                     142
 209                    1            0                      72
 210                    1            0                      72
 211                    9            0                      72

      isNextYear_Buyer
 0                   1
 1                   0
 2                   1
 3                   1
 4                   0
 ..                ...
 207                 0
 208                 1
 209                 1
 210                 1
 211                 0

 [212 rows x 15 columns],
      dimCustomerMasterId   totalSpent  renewedBeforeDays  tenure  distToVenue  \
 0            418179840.0   604.340027              156.0   557.0     5.420000
 1            351995840.0  1648.199951                6.0   512.0     7.630000
 2            351995840.0  1648.199951                1.0   148.0     7.630000
 3            356093408.0   312.000000               10.0   171.0     7.630000
 4            351995872.0  1648.199951                7.0   529.0     3.610000
 ..                   ...          ...                ...     ...          ...
 207          458742464.0  2103.800049               48.0   261.0     1.830000
 208          355872512.0  1273.000000               80.0   587.0    84.870003
 209          356130592.0   472.149994              127.0   274.0    17.570000
 210          320270432.0  2099.979980               29.0   176.0    11.210000
 211          320290912.0   509.200012               43.0   190.0     3.610000

      totalGames  recency  missed_games_1  missed_games_2  missed_games_over_2  \
 0          23.0      3.0             5.0             1.0                  8.0
 1          18.0      3.0             3.0             0.0                  5.0
 2           8.0      5.0             0.0             0.0                  5.0
 3           6.0      0.0             3.0             0.0                  1.0
 4          21.0     14.0             0.0             1.0                  7.0
 ..          ...      ...             ...             ...                  ...
 207        35.0      1.0             3.0             6.0                  8.0
 208        11.0     10.0             3.0             0.0                  4.0
 209         2.0      0.0             0.0             0.0                  1.0
 210         0.0      0.0             0.0             0.0                  1.0
 211        13.0      3.0             0.0             1.0                  9.0

      year_2018  year_2019  year_2021
 0          0.0        1.0        0.0
 1          0.0        1.0        0.0
 2          1.0        0.0        0.0
 3          1.0        0.0        0.0
 4          0.0        1.0        0.0
 ..         ...        ...        ...
 207        0.0        1.0        0.0
 208        0.0        1.0        0.0
 209        1.0        0.0        0.0
 210        1.0        0.0        0.0
 211        1.0        0.0        0.0

 [212 rows x 13 columns],
 {'parameter': 'Hyperparameters',
  'auc': 'AUC',
  'confusion_matrix': 'Confusion Matrix',
  'threshold': 'Threshold',
  'pr': 'Precision Recall',
  'error': 'Prediction Error',
  'class_report': 'Class Report',
  'rfe': 'Feature Selection',
  'learning': 'Learning Curve',
  'manifold': 'Manifold Learning',
  'calibration': 'Calibration Curve',
  'vc': 'Validation Curve',
  'dimension': 'Dimensions',
  'feature': 'Feature Importance',
  'feature_all': 'Feature Importance (All)',
  'boundary': 'Decision Boundary',
  'lift': 'Lift Chart',
  'gain': 'Gain Chart',
  'tree': 'Decision Tree',
  'ks': 'KS Statistic Plot'},
 [('Setup Config',
                                  Description             Value
   0                               session_id              2153
   1                                   Target  isNextYear_Buyer
   2                              Target Type            Binary
   3                            Label Encoded        0: 0, 1: 1
   4                            Original Data         (212, 15)
   5                           Missing Values             False
   6                         Numeric Features                13
   7                     Categorical Features                 1
   8                         Ordinal Features             False
   9                High Cardinality Features             False
   10                 High Cardinality Method              None
   11                   Transformed Train Set         (169, 13)
   12                    Transformed Test Set          (43, 13)
   13                      Shuffle Train-Test              True
   14                     Stratify Train-Test             False
   15                          Fold Generator   StratifiedKFold
   16                             Fold Number                10
   17                                CPU Jobs                -1
   18                                 Use GPU             False
   19                          Log Experiment             False
   20                         Experiment Name  clf-default-name
   21                                     USI              2b1f
   22                         Imputation Type            simple
   23          Iterative Imputation Iteration              None
   24                         Numeric Imputer              mean
   25      Iterative Imputation Numeric Model              None
   26                     Categorical Imputer          constant
   27  Iterative Imputation Categorical Model              None
   28           Unknown Categoricals Handling    least_frequent
   29                               Normalize             False
   30                        Normalize Method              None
   31                          Transformation             False
   32                   Transformation Method              None
   33                                     PCA             False
   34                              PCA Method              None
   35                          PCA Components              None
   36                     Ignore Low Variance             False
   37                     Combine Rare Levels             False
   38                    Rare Level Threshold              None
   39                         Numeric Binning             False
   40                         Remove Outliers             False
   41                      Outliers Threshold              None
   42                Remove Multicollinearity             False
   43             Multicollinearity Threshold              None
   44             Remove Perfect Collinearity              True
   45                              Clustering             False
   46                    Clustering Iteration              None
   47                     Polynomial Features             False
   48                       Polynomial Degree              None
   49                    Trignometry Features             False
   50                    Polynomial Threshold              None
   51                          Group Features             False
   52                       Feature Selection             False
   53                Feature Selection Method           classic
   54            Features Selection Threshold              None
   55                     Feature Interaction             False
   56                           Feature Ratio             False
   57                   Interaction Threshold              None
   58                           Fix Imbalance             False
   59                    Fix Imbalance Method             SMOTE),
  ('X_training Set',
        dimCustomerMasterId   totalSpent  renewedBeforeDays  tenure  distToVenue  \
   114          320261472.0  1273.000000               45.0   192.0     8.430000
   73           351995968.0  1934.959961              120.0   267.0   174.149994
   97           458742464.0  1273.000000               35.0   631.0     6.360000
   9            320277728.0   509.200012               20.0   167.0    38.110001
   167          320291680.0   532.000000               54.0   200.0    11.210000
   ..                   ...          ...                ...     ...          ...
   39           355960256.0  2680.000000               66.0   421.0    48.580002
   20           356095616.0   509.200012              126.0   546.0     3.610000
   103          320291616.0  1934.959961              121.0   268.0    17.570000
   65           336118752.0   636.500000              135.0   282.0    92.575447
   88           418179840.0  3130.239990              210.0   631.0     3.610000

        totalGames  recency  missed_games_1  missed_games_2  missed_games_over_2  \
   114        10.0     10.0             0.0             0.0                  4.0
   73          1.0     58.0             0.0             0.0                  2.0
   97         41.0      7.0             6.0             5.0                  4.0
   9           2.0     44.0             0.0             0.0                  3.0
   167         1.0      1.0             0.0             0.0                  1.0
   ..          ...      ...             ...             ...                  ...
   39         47.0      1.0            10.0             2.0                  2.0
   20          8.0     16.0             0.0             0.0                  3.0
   103        18.0      5.0             3.0             2.0                  5.0
   65          7.0     26.0             0.0             0.0                  1.0
   88         33.0      7.0             5.0             3.0                  7.0

        year_2018  year_2019  year_2021
   114        1.0        0.0        0.0
   73         1.0        0.0        0.0
   97         0.0        1.0        0.0
   9          1.0        0.0        0.0
   167        1.0        0.0        0.0
   ..         ...        ...        ...
   39         0.0        1.0        0.0
   20         0.0        1.0        0.0
   103        1.0        0.0        0.0
   65         0.0        1.0        0.0
   88         0.0        1.0        0.0

   [169 rows x 13 columns]),
  ('y_training Set',
   114    1
   73     1
   97     1
   9      1
   167    1
         ..
   39     1
   20     0
   103    1
   65     0
   88     1
   Name: isNextYear_Buyer, Length: 169, dtype: int64),
  ('X_test Set',
        dimCustomerMasterId   totalSpent  renewedBeforeDays  tenure  distToVenue  \
   8            355950528.0   992.940002              157.0   631.0    38.750000
   111          418179840.0  2090.399902              212.0   633.0     2.630000
   191          351995936.0  1018.400024               41.0   631.0   107.040001
   41           418863648.0   532.000000               83.0   273.0     7.630000
   120          320278272.0  1018.400024               38.0   185.0     7.630000
   91           458742496.0  1051.900024              111.0   638.0     9.900000
   29           418179840.0  1263.500000              125.0   272.0     5.420000
   188          320267168.0  1273.000000               30.0   638.0   113.120003
   122          353154144.0  1018.400024               58.0   205.0     3.610000
   196          418179840.0  4388.000000               30.0   177.0     7.630000
   78           418179840.0  3131.399902              120.0   267.0     3.610000
   165          418179840.0  1648.199951               48.0   569.0     5.420000
   183          418179840.0  3297.600098               63.0   623.0     3.610000
   112          353381824.0  2546.000000                1.0   450.0     3.610000
   178          320281504.0  1648.199951                6.0   153.0     8.430000
   98           355950528.0   483.739990              120.0   267.0     7.630000
   142          355950528.0  3130.239990              155.0   579.0     5.420000
   195          320299840.0  1064.000000              120.0   267.0     7.630000
   66           351996064.0   486.399994                1.0   143.0    21.900000
   55           353140064.0   133.000000               27.0    50.0    92.575447
   136          418179840.0  1936.500000              120.0   267.0     2.630000
   96           418179840.0  3995.879883              205.0   541.0     7.630000
   148          443846304.0  1489.410034              232.0   632.0    47.360001
   85           356130624.0   903.159973              156.0   542.0    22.150000
   117          320291104.0  1018.400024              127.0   274.0     7.630000
   201          320261280.0  1330.000000              120.0   267.0     6.360000
   87           320265440.0  1559.400024              115.0   262.0     1.830000
   34           320262304.0   834.599976              147.0   633.0    40.049999
   175          438279936.0  2103.800049              174.0   629.0     3.610000
   93           320267168.0  1330.000000              127.0   274.0   113.120003
   18           355950528.0   951.400024              120.0   267.0    10.740000
   71           320262016.0  1273.000000              127.0   274.0    11.210000
   64           320261280.0  1273.000000              233.0   631.0     6.360000
   156          320278272.0  1018.400024               30.0   549.0     7.630000
   174          355960256.0  5320.000000              121.0   268.0    17.570000
   89           356130624.0   951.400024               31.0   178.0    22.150000
   109          438279936.0  1050.199951              118.0   265.0     3.610000
   53           355950528.0  1934.959961               86.0   233.0    38.750000
   158          320262112.0   509.200012              125.0   546.0    47.360001
   134          355960256.0  5092.000000              143.0   632.0    17.570000
   199          351996000.0   636.500000               41.0   507.0    78.959999
   110          458742464.0  2194.000000              120.0   267.0     9.900000
   143          320260448.0  1018.400024               58.0   205.0     7.630000

        totalGames  recency  missed_games_1  missed_games_2  missed_games_over_2  \
   8           5.0     61.0             0.0             0.0                  1.0
   111        15.0     10.0             0.0             0.0                  4.0
   191        16.0     11.0             0.0             0.0                  4.0
   41         11.0      0.0             0.0             0.0                  4.0
   120         6.0      6.0             1.0             0.0                  4.0
   91          6.0     32.0             0.0             0.0                  2.0
   29          1.0     24.0             0.0             0.0                  2.0
   188         7.0     10.0             0.0             0.0                  3.0
   122         5.0     24.0             1.0             0.0                  4.0
   196         7.0      2.0             0.0             0.0                  5.0
   78         29.0      1.0             5.0             3.0                  7.0
   165        32.0      8.0             3.0             3.0                  6.0
   183        19.0      3.0             1.0             1.0                  5.0
   112        12.0     16.0             0.0             0.0                  5.0
   178         1.0     35.0             0.0             0.0                  1.0
   98          0.0      0.0             0.0             0.0                  1.0
   142        21.0      3.0             0.0             0.0                  2.0
   195        21.0      0.0             0.0             0.0                  5.0
   66          3.0     27.0             0.0             0.0                  3.0
   55          6.0      2.0             0.0             1.0                  1.0
   136        33.0      1.0             8.0             2.0                  4.0
   96         12.0      1.0             0.0             0.0                  3.0
   148         6.0     27.0             0.0             0.0                  1.0
   85          6.0      9.0             0.0             0.0                  2.0
   117         5.0     61.0             0.0             0.0                  1.0
   201        15.0      4.0             3.0             1.0                  7.0
   87          0.0      0.0             0.0             0.0                  1.0
   34          5.0     61.0             0.0             0.0                  1.0
   175        43.0      3.0             2.0             2.0                  5.0
   93          3.0     27.0             0.0             0.0                  2.0
   18          1.0     35.0             0.0             0.0                  2.0
   71          9.0     12.0             0.0             0.0                  1.0

In [10]:
model_matrix = compare_models(
    fold=10,
    include=["lr", "xgboost"]
)

In [11]:
best_model = create_model(model_matrix)
final_model = finalize_model(best_model)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

## Observations
Here you can document some ideas on the results from above

## Conclusions
Here you can talk about next steps, did the experiment work? If yes, what to do next? If no, why?