# hitmen - Extended Feature Selection
* StelllarAlgo Data Science
* Ryan Kazmerik & Nakisa Rad
* Feb 25, 2022

## Hypothesis
Two very important components of a machine learning model are feature selection and feature engineering. Our idea is that adding some more features to the StellarAlgo retention model could improve performance of the model. This notebook will test the standard StellarAlgo retention model features.

## Experiment
This section details our experiment including querying data, data transformations, feature selection and modelling.

In [1]:
import getpass
import pyodbc
import pandas as pd
import warnings
import matplotlib.pyplot as plt

from pycaret.classification import *

warnings.filterwarnings('ignore')

### Let's connect to MSSQL and run a stored proc to get our dataset:

In [2]:
# connect to SQL Server.
SERVER = '34.206.73.189'  
DATABASE = 'datascience' 
USERNAME = 'nrad' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

In [3]:
lkupclientid = 37 # hitmen

cursor = CNXN.cursor()

storedProc = (
    f"""Exec [stlrWHL].[ds].[getRetentionScoringModelData] {lkupclientid}"""
)

df = pd.read_sql(storedProc, CNXN)

# apply some data transformations
df["year"] = pd.to_numeric(df["year"])

CNXN.commit()
cursor.close()

df.head()
#df.info()

,lkupClientId,dimCustomerMasterId,customerNumber,year,productGrouping,totalSpent,recentDate,attendancePercent,renewedBeforeDays,isBuyer,source_tenure,tenure,distToVenue,totalGames,recency,missed_games_1,missed_games_2,missed_games_over_2,click_link,fill_out_form,open_email,send_email,unsubscribe_email,openToSendRatio,clickToSendRatio,clickToOpenRatio,posting_records,resale_records,resale_atp,forward_records,cancel_records,email,inbound_email,inbound_phonecall,inperson_contact,internal_note,left_message,outbound_email,outbound_phonecall,phonecall,text,unknown,gender,childrenPresentInHH,maritalStatus,lengthOfResidenceInYrs,annualHHIncome,education,urbanicity,credits_after_refund,is_Lockdown,NumberofGamesPerSeason,CNTPostponedGames,isNextYear_Buyer
0,37,5206,9832738,2015,Flex Plan,100.0,2016-01-03,1.0,11,TRUE,2920,65,181.73,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,36,None,0
1,37,15396,10839176,2015,Flex Plan,40.0,2015-10-29,1.0,8,TRUE,2555,19,13.23,2,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,36,None,0
2,37,19570,11043392,2015,Flex Plan,37.5,2015-12-30,1.0,7,TRUE,2555,7,17.15,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,36,None,0
3,37,25958,9936091,2015,Flex Plan,50.0,2016-01-03,1.0,17,TRUE,2920,17,17.15,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,36,None,0
4,37,42288,10895932,2015,Flex Plan,37.5,2015-12-28,1.0,6,TRUE,2555,6,16.35,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,36,None,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5713 entries, 0 to 5712
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lkupClientId            5713 non-null   int64
 1   dimCustomerMasterId     5713 non-null   int64
 2   customerNumber          5713 non-null   object
 3   year                    5713 non-null   int64
 4   productGrouping         5713 non-null   object
 5   totalSpent              5713 non-null   float64
 6   recentDate              5713 non-null   object
 7   attendancePercent       5713 non-null   float64
 8   renewedBeforeDays       5713 non-null   int64
 9   isBuyer                 5713 non-null   object
 10  source_tenure           5713 non-null   int64
 11  tenure                  5713 non-null   int64
 12  distToVenue             5713 non-null   float64
 13  totalGames              5713 non-null   int64
 14  recency                 5713 non-null   int64
 15  missed_games_1          5713 non-null   int64
 16  missed_games_2          5713 non-null   int64
 17  missed_games_over_2     5713 non-null   int64
 18  click_link              5713 non-null   int64
 19  fill_out_form           5713 non-null   int64
 20  open_email              5713 non-null   int64
 21  send_email              5713 non-null   int64
 22  unsubscribe_email       5713 non-null   int64
 23  openToSendRatio         5713 non-null   float64
 24  clickToSendRatio        5713 non-null   float64
 25  clickToOpenRatio        5713 non-null   float64
 26  posting_records         5713 non-null   int64
 27  resale_records          5713 non-null   int64
 28  resale_atp              5713 non-null   float64
 29  forward_records         5713 non-null   int64
 30  cancel_records          5713 non-null   int64
 31  email                   5713 non-null   int64
 32  inbound_email           5713 non-null   int64
 33  inbound_phonecall       5713 non-null   int64
 34  inperson_contact        5713 non-null   int64
 35  internal_note           5713 non-null   int64
 36  left_message            5713 non-null   int64
 37  outbound_email          5713 non-null   int64
 38  outbound_phonecall      5713 non-null   int64
 39  phonecall               5713 non-null   int64
 40  text                    5713 non-null   int64
 41  unknown                 5713 non-null   int64
 42  gender                  5713 non-null   object
 43  childrenPresentInHH     5713 non-null   int64
 44  maritalStatus           5713 non-null   int64
 45  lengthOfResidenceInYrs  0 non-null      object
 46  annualHHIncome          0 non-null      object
 47  education               0 non-null      object
 48  urbanicity              0 non-null      object
 49  credits_after_refund    5713 non-null   float64
 50  is_Lockdown             5713 non-null   int64
 51  NumberofGamesPerSeason  5713 non-null   int64
 52  CNTPostponedGames       0 non-null      object
 53  isNextYear_Buyer        5713 non-null   int64
dtypes: float64(8), int64(36), object(10)
memory usage: 2.4+ MB

### Let's also drop the features that only have a single value, as they won't add much differentiation to our model:

In [5]:
for col in df.columns:
    if len(df[col].unique()) == 1:
        df.drop(col,inplace=True,axis=1)
        
df.shape

(5713, 29)

### We should also drop features that have a low correlation with the target label as they won't be useful for prediction, we'll only keep features that have a correlation above a set threshold:

In [6]:
cor = df.corr()

threshold = 0.05

#Correlation with output variable
cor_target = abs(cor["isNextYear_Buyer"])

#Selecting highly correlated features
relevant_features = cor_target[cor_target > threshold]

feats = []
for name, val in relevant_features.items():
    feats.append(name)

df_correlated = df[feats]

df_correlated.shape

df_correlated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5713 entries, 0 to 5712
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    5713 non-null   int64
 1   renewedBeforeDays       5713 non-null   int64
 2   source_tenure           5713 non-null   int64
 3   tenure                  5713 non-null   int64
 4   totalGames              5713 non-null   int64
 5   missed_games_1          5713 non-null   int64
 6   missed_games_2          5713 non-null   int64
 7   missed_games_over_2     5713 non-null   int64
 8   is_Lockdown             5713 non-null   int64
 9   NumberofGamesPerSeason  5713 non-null   int64
 10  isNextYear_Buyer        5713 non-null   int64
dtypes: int64(11)
memory usage: 491.1 KB

### Now that we have the right features we can look at the correlations between them, if features are highly correlated with each other it might negatively impact the model:

In [7]:
corr = df_correlated.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

### In order to compare two sets of features, we need to create some datasets for training and evalution:

In [8]:
# select % of the data for training
df_train = df_correlated.sample(frac=0.8, random_state=786).reset_index(drop=True)

# create the eval datasets for A and B
df_eval = df_correlated.drop(df_train.index).reset_index(drop=True)

# print out the number of records for training and eval
print('Data for Modeling: ' + str(df_train.shape))
print('Unseen Data For Predictions: ' + str(df_eval.shape), end="\n\n")

Data for Modeling: (4570, 11)
Unseen Data For Predictions: (1143, 11)

### Now we can model the data using a binary classification prediction for the isnextyear_buyer field to see how likely a customer is to re-purchase.

In [9]:
setup(
    data= df_train, 
    target="isNextYear_Buyer", 
    train_size = 0.80,
    data_split_shuffle=True,
    silent=True,
    numeric_features=[
        "renewedBeforeDays",
        "tenure",
        "source_tenure",
        "totalGames",
        "missed_games_1",
        "missed_games_2",
        "missed_games_over_2",
        "is_Lockdown",
        "NumberofGamesPerSeason"
    ]
)

(False,
 False,
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x7f92832e8550>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x7f92832e8ee0>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x7f92832e89d0>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x7f92832e8b80>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x7f928357a5b0>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x7f92833099d0>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x7f9283309af0>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x7f9283309bb0>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x7f9283571190>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x7f9283571310>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x7f9283571760>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x7f92835717f0>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x7f92835511c0>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x7f92835515b0>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x7f92835516a0>,
  'xgboost': <pycaret.containers.models.classification.XGBClassifierContainer at 0x7f9283551af0>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x7f9283551ee0>},
 -1,
 'isNextYear_Buyer',
 1152    0
 4119    1
 922     1
 304     0
 2570    1
        ..
 2075    1
 2022    0
 1701    1
 2238    0
 269     1
 Name: isNextYear_Buyer, Length: 914, dtype: int64,
 {'USI',
  'X',
  'X_test',
  'X_train',
  '_all_metrics',
  '_all_models',
  '_all_models_internal',
  '_available_plots',
  '_gpu_n_jobs_param',
  '_internal_pipeline',
  '_ml_usecase',
  'create_model_container',
  'data_before_preprocess',
  'display_container',
  'exp_name_log',
  'experiment__',
  'fix_imbalance_method_param',
  'fix_imbalance_param',
  'fold_generator',
  'fold_groups_param',
  'fold_groups_param_full',
  'fold_param',
  'fold_shuffle_param',
  'gpu_param',
  'html_param',
  'imputation_classifier',
  'imputation_regressor',
  'iterative_imputation_iters_param',
  'log_plots_param',
  'logging_param',
  'master_model_container',
  'n_jobs_param',
  'prep_pipe',
  'pycaret_globals',
  'seed',
  'stratify_param',
  'target_param',
  'transform_target_method_param',
  'transform_target_param',
  'y',
  'y_test',
  'y_train'},
 Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False),
 -1,
       renewedBeforeDays  source_tenure  tenure  totalGames  missed_games_1  \
 1581              211.0         8395.0   760.0        23.0             4.0
 1169              211.0         5110.0   760.0        28.0             2.0
 3199              167.0         4745.0  1489.0        18.0             2.0
 4516               31.0         1095.0   136.0         4.0             0.0
 2196              211.0         8030.0   760.0         0.0             0.0
 ...                 ...            ...     ...         ...             ...
 2883              154.0         8395.0  1489.0        14.0             0.0
 2683               88.0         6570.0  1018.0        14.0             4.0
 622               211.0         4745.0   760.0        30.0             3.0
 4171              211.0         9490.0   760.0         6.0             0.0
 3686              184.0        14235.0  1125.0         1.0             0.0

       missed_games_2  missed_games_over_2  is_Lockdown  \
 1581             2.0                  1.0          0.0
 1169             1.0                  1.0          0.0
 3199             3.0                  2.0          0.0
 4516             0.0                  0.0          0.0
 2196             0.0                  1.0          0.0
 ...              ...                  ...          ...
 2883             0.0                  3.0          0.0
 2683             0.0                  4.0          0.0
 622              1.0                  0.0          0.0
 4171             0.0                  3.0          0.0
 3686             0.0                  2.0          0.0

       NumberofGamesPerSeason  year_2015  year_2016  year_2017  year_2018  \
 1581                    36.0        0.0        1.0        0.0        0.0
 1169                    36.0        0.0        1.0        0.0        0.0
 3199                    34.0        0.0        0.0        0.0        1.0
 4516                    35.0        0.0        0.0        0.0        0.0
 2196                    36.0        0.0        1.0        0.0        0.0
 ...                      ...        ...        ...        ...        ...
 2883                    34.0        0.0        0.0        0.0        1.0
 2683                    34.0        0.0        0.0        0.0        1.0
 622                     36.0        0.0        1.0        0.0        0.0
 4171                    36.0        0.0        1.0        0.0        0.0
 3686                    36.0        0.0        0.0        1.0        0.0

       year_2019
 1581        0.0
 1169        0.0
 3199        0.0
 4516        1.0
 2196        0.0
 ...         ...
 2883        0.0
 2683        0.0
 622         0.0
 4171        0.0
 3686        0.0

 [3656 rows x 14 columns],
 0       0
 1       0
 2       0
 3       1
 4       1
        ..
 4565    1
 4566    1
 4567    0
 4568    1
 4569    0
 Name: isNextYear_Buyer, Length: 4570, dtype: int64,
 False,
       renewedBeforeDays  source_tenure  tenure  totalGames  missed_games_1  \
 1152                9.0         5475.0     9.0         1.0             1.0
 4119              184.0         9490.0  1125.0        29.0             5.0
 922               152.0         2190.0  1004.0        10.0             1.0
 304               211.0         5840.0   760.0        17.0             1.0
 2570              211.0         6935.0   760.0         2.0             0.0
 ...                 ...            ...     ...         ...             ...
 2075              211.0        14235.0   760.0        11.0             3.0
 2022               88.0         5110.0  1824.0        28.0             6.0
 1701              184.0        14235.0  1125.0        21.0             4.0
 2238                0.0         2920.0    11.0         2.0             0.0
 269                99.0         6205.0  1378.0         4.0             1.0

       missed_games_2  missed_games_over_2  is_Lockdown  \
 1152             0.0                  0.0          0.0
 4119             4.0                  0.0          0.0
 922              2.0                  4.0          0.0
 304              0.0                  2.0          0.0
 2570             0.0                  2.0          0.0
 ...              ...                  ...          ...
 2075             2.0                  2.0          0.0
 2022             1.0                  0.0          0.0
 1701             3.0                  1.0          0.0
 2238             0.0                  0.0          0.0
 269              0.0                  3.0          0.0

       NumberofGamesPerSeason  year_2015  year_2016  year_2017  year_2018  \
 1152                    36.0        1.0        0.0        0.0        0.0
 4119                    36.0        0.0        0.0        1.0        0.0
 922                     34.0        0.0        0.0        0.0        1.0
 304                     36.0        0.0        1.0        0.0        0.0
 2570                    36.0        0.0        1.0        0.0        0.0
 ...                      ...        ...        ...        ...        ...
 2075                    36.0        0.0        1.0        0.0        0.0
 2022                    35.0        0.0        0.0        0.0        0.0
 1701                    36.0        0.0        0.0        1.0        0.0
 2238                    36.0        1.0        0.0        0.0        0.0
 269                     34.0        0.0        0.0        0.0        1.0

       year_2019
 1152        0.0
 4119        0.0
 922         0.0
 304         0.0
 2570        0.0
 ...         ...
 2075        0.0
 2022        1.0
 1701        0.0
 2238        0.0
 269         0.0

 [914 rows x 14 columns],
 False,
 StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
 [('Setup Config',
                                  Description             Value
   0                               session_id              2028
   1                                   Target  isNextYear_Buyer
   2                              Target Type            Binary
   3                            Label Encoded        0: 0, 1: 1
   4                            Original Data        (4570, 11)
   5                           Missing Values             False
   6                         Numeric Features                 9
   7                     Categorical Features                 1
   8                         Ordinal Features             False
   9                High Cardinality Features             False
   10                 High Cardinality Method              None
   11                   Transformed Train Set        (3656, 14)
   12                    Transformed Test Set         (914, 14)
   13                      Shuffle Train-Test              True
   14                     Stratify Train-Test             False
   15                          Fold Generator   StratifiedKFold
   16                             Fold Number                10
   17                                CPU Jobs                -1
   18                                 Use GPU             False
   19                          Log Experiment             False
   20                         Experiment Name  clf-default-name
   21                                     USI              219f
   22                         Imputation Type            simple
   23          Iterative Imputation Iteration              None
   24                         Numeric Imputer              mean
   25      Iterative Imputation Numeric Model              None
   26                     Categorical Imputer          constant
   27  Iterative Imputation Categorical Model              None
   28           Unknown Categoricals Handling    least_frequent
   29                               Normalize             False
   30                        Normalize Method              None
   31                          Transformation             False
   32                   Transformation Method              None
   33                                     PCA             False
   34                              PCA Method              None
   35                          PCA Components              None
   36                     Ignore Low Variance             False
   37                     Combine Rare Levels             False
   38                    Rare Level Threshold              None
   39                         Numeric Binning             False
   40                         Remove Outliers             False
   41                      Outliers Threshold              None
   42                Remove Multicollinearity             False
   43             Multicollinearity Threshold              None
   44             Remove Perfect Collinearity              True
   45                              Clustering             False
   46                    Clustering Iteration              None
   47                     Polynomial Features             False
   48                       Polynomial Degree              None
   49                    Trignometry Features             False
   50                    Polynomial Threshold              None
   51                          Group Features             False
   52                       Feature Selection             False
   53                Feature Selection Method           classic
   54            Features Selection Threshold              None
   55                     Feature Interaction             False
   56                           Feature Ratio             False
   57                   Interaction Threshold              None
   58                           Fix Imbalance             False
   59                    Fix Imbalance Method             SMOTE),
  ('X_training Set',
         renewedBeforeDays  source_tenure  tenure  totalGames  missed_games_1  \
   1581              211.0         8395.0   760.0        23.0             4.0
   1169              211.0         5110.0   760.0        28.0             2.0
   3199              167.0         4745.0  1489.0        18.0             2.0
   4516               31.0         1095.0   136.0         4.0             0.0
   2196              211.0         8030.0   760.0         0.0             0.0
   ...                 ...            ...     ...         ...             ...
   2883              154.0         8395.0  1489.0        14.0             0.0
   2683               88.0         6570.0  1018.0        14.0             4.0
   622               211.0         4745.0   760.0        30.0             3.0
   4171              211.0         9490.0   760.0         6.0             0.0
   3686              184.0        14235.0  1125.0         1.0             0.0

         missed_games_2  missed_games_over_2  is_Lockdown  \
   1581             2.0                  1.0          0.0
   1169             1.0                  1.0          0.0
   3199             3.0                  2.0          0.0
   4516             0.0                  0.0          0.0
   2196             0.0                  1.0          0.0
   ...              ...                  ...          ...
   2883             0.0                  3.0          0.0
   2683             0.0                  4.0          0.0
   622              1.0                  0.0          0.0
   4171             0.0                  3.0          0.0
   3686             0.0                  2.0          0.0

         NumberofGamesPerSeason  year_2015  year_2016  year_2017  year_2018  \
   1581                    36.0        0.0        1.0        0.0        0.0
   1169                    36.0        0.0        1.0        0.0        0.0
   3199                    34.0        0.0        0.0        0.0        1.0
   4516                    35.0        0.0        0.0        0.0        0.0
   2196                    36.0        0.0        1.0        0.0        0.0
   ...                      ...        ...        ...        ...        ...
   2883                    34.0        0.0        0.0        0.0        1.0
   2683                    34.0        0.0        0.0        0.0        1.0
   622                     36.0        0.0        1.0        0.0        0.0
   4171                    36.0        0.0        1.0        0.0        0.0
   3686                    36.0        0.0        0.0        1.0        0.0

         year_2019
   1581        0.0
   1169        0.0
   3199        0.0
   4516        1.0
   2196        0.0
   ...         ...
   2883        0.0
   2683        0.0
   622         0.0
   4171        0.0
   3686        0.0

   [3656 rows x 14 columns]),
  ('y_training Set',
   1581    1
   1169    1
   3199    1
   4516    0
   2196    1
          ..
   2883    1
   2683    1
   622     1
   4171    1
   3686    1
   Name: isNextYear_Buyer, Length: 3656, dtype: int64),
  ('X_test Set',
         renewedBeforeDays  source_tenure  tenure  totalGames  missed_games_1  \
   1152                9.0         5475.0     9.0         1.0             1.0
   4119              184.0         9490.0  1125.0        29.0             5.0
   922               152.0         2190.0  1004.0        10.0             1.0
   304               211.0         5840.0   760.0        17.0             1.0
   2570              211.0         6935.0   760.0         2.0             0.0
   ...                 ...            ...     ...         ...             ...
   2075              211.0        14235.0   760.0        11.0             3.0
   2022               88.0         5110.0  1824.0        28.0             6.0
   1701              184.0        14235.0  1125.0        21.0             4.0
   2238                0.0         2920.0    11.0         2.0             0.0
   269                99.0         6205.0  1378.0         4.0             1.0

         missed_games_2  missed_games_over_2  is_Lockdown  \
   1152             0.0                  0.0          0.0
   4119             4.0                  0.0          0.0
   922              2.0                  4.0          0.0
   304              0.0                  2.0          0.0
   2570             0.0                  2.0          0.0
   ...              ...                  ...          ...
   2075             2.0                  2.0          0.0
   2022             1.0                  0.0          0.0
   1701             3.0                  1.0          0.0
   2238             0.0                  0.0          0.0
   269              0.0                  3.0          0.0

         NumberofGamesPerSeason  year_2015  year_2016  year_2017  year_2018  \
   1152                    36.0        1.0        0.0        0.0        0.0
   4119                    36.0        0.0        0.0        1.0        0.0
   922                     34.0        0.0        0.0        0.0        1.0
   304                     36.0        0.0        1.0        0.0        0.0
   2570                    36.0        0.0        1.0        0.0        0.0
   ...                      ...        ...        ...        ...        ...
   2075                    36.0        0.0        1.0        0.0        0.0
   2022                    35.0        0.0        0.0        0.0        0.0
   1701                    36.0        0.0        0.0        1.0        0.0
   2238                    36.0        1.0        0.0        0.0        0.0
   269                     34.0        0.0        0.0        0.0        1.0

         year_2019
   1152        0.0
   4119        0.0
   922         0.0
   304         0.0
   2570        0.0
   ...         ...
   2075        0.0
   2022        1.0
   1701        0.0
   2238        0.0
   269         0.0

   [914 rows x 14 columns]),
  ('y_test Set',
   1152    0
   4119    1
   922     1
   304     0
   2570    1
          ..
   2075    1
   2022    0
   1701    1
   2238    0
   269     1
   Name: isNextYear_Buyer, Length: 914, dtype: int64),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=False, features_todrop=[],
                                         id_columns=[],
                                         ml_usecase='classification',
                                         numerical_features=['renewedBeforeDays',
                                                             'tenure',
                                                             'source_tenure',
                                                             'totalGames',
                                                             'missed_games_1',
                                                             'missed_games_2',
                                                             'missed_games_over_2',
                                                             'is_Lockdown',
                                                             'NumberofGamesPerSeason'],
                                         target='isNe...
                   ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                   ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                   ('cluster_all', 'passthrough'),
                   ('dummy', Dummify(target='isNextYear_Buyer')),

In [10]:
model_matrix = compare_models(
    fold=10,
    include=["lr", "xgboost"]
)

In [11]:
best_model = create_model(model_matrix)
final_model = finalize_model(best_model)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

## Observations
Here you can document some ideas on the results from above

## Conclusions
Here you can talk about next steps, did the experiment work? If yes, what to do next? If no, why?