# RFM _ Engagement models
* StelllarAlgo Data Science
* Ryan Kazmerik, Nakisa Rad, Joey Lai
* Jul 11, 2022

In [1]:
import getpass
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
from datetime import datetime
from pycaret.classification import *

In [2]:
# connect to SQL Server.
SERVER = '34.206.73.189' 
DATABASE = 'datascience' 
USERNAME = 'dsAdminWrite' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

Enter your password ··················

In [3]:
lkupclientid = 5 # ptb
cursor = CNXN.cursor()

storedProc = (
    f"""SELECT * FROM [stlrTrailblazers].[dw].[factfanrfm] WHERE lkupclientid = {lkupclientid} AND date_effective_end IS NULL """
)

df = pd.read_sql(storedProc, CNXN)

CNXN.commit()
cursor.close()

df.shape

(244310, 17)

In [4]:
df.head()

,factFanRFMId,lkupClientId,dimCustomerMasterId,scoreDate,recency,frequency,monetary,recency_tier,frequency_tier,monetary_tier,type,recency_label,frequency_label,monetary_label,date_effective_start,date_effective_end,isDeleted
0,-9223372036495451819,5,3,2022-07-17,2017-11-21,1,275.0,1,1,2,ticketing,Tier 1: > 3 Months,Tier 1: 1 Purchase,Tier 2: $150 - $300,2022-07-17,None,False
1,-9223372036495543630,5,3,2022-07-17,2017-11-21,1,275.0,1,1,2,overall,Tier 1: > 3 Months,Tier 1: 1 Purchase,Tier 2: $150 - $300,2022-07-17,None,False
2,-9223372036495538165,5,16,2022-07-17,2018-02-02,1,1457.2,1,1,5,ticketing,Tier 1: > 3 Months,Tier 1: 1 Purchase,Tier 5: > $1000,2022-07-17,None,False
3,-9223372036495455911,5,16,2022-07-17,2018-02-02,1,1457.2,1,1,5,overall,Tier 1: > 3 Months,Tier 1: 1 Purchase,Tier 5: > $1000,2022-07-17,None,False
4,-9223372036495632415,5,19,2022-07-17,2018-10-17,1,220.0,1,1,2,ticketing,Tier 1: > 3 Months,Tier 1: 1 Purchase,Tier 2: $150 - $300,2022-07-17,None,False

In [5]:
report = ProfileReport(df)
report.to_file("FanRFM.html")

Summarize dataset:   0%|          | 0/30 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]