# Check Data Availability (MSSQL)
* StelllarAlgo Data Science
* Ryan Kazmerik & Nakisa Rad
* Apr 26, 2022

In [1]:
import getpass
import pandas as pd
import pyodbc

### Create a connection to MSSQL PROD:

In [3]:
# connect to SQL Server.
SERVER = '54.164.224.129' 
DATABASE = 'datascience' 
USERNAME = 'dsAdminWrite' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

### Run the stored proc to get retention training and inference datasets:

In [4]:
lkupclientid = 45 # rays
dbname = 'stlrRays'

cursor = CNXN.cursor()

storedProc = (
    f"""Exec {dbname}.[ds].[getRetentionScoringModelData] {lkupclientid}"""
)

df = pd.read_sql(storedProc, CNXN)

CNXN.commit()
cursor.close()

print(f"TOTAL ROWS: {df.shape[0]}")
df.head()

/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

TOTAL ROWS: 8098

,lkupClientId,dimCustomerMasterId,year,productGrouping,totalSpent,recentDate,attendancePercent,renewedBeforeDays,isBuyer,source_tenure,...,maritalStatus,lengthOfResidenceInYrs,annualHHIncome,education,urbanicity,credits_after_refund,is_Lockdown,NumberofGamesPerSeason,CNTPostponedGames,isNextYear_Buyer
0,45,2404,2017,Full Season,14350.00,2017-09-29,0.698758,124,TRUE,6935,...,1,None,None,None,None,0.0,0,80,None,1
1,45,3726,2017,Partial Season,295.50,2017-08-04,0.700000,124,TRUE,5840,...,1,None,None,None,None,0.0,0,80,None,1
2,45,4124,2017,Partial Season,850.00,2017-10-01,1.000000,129,TRUE,3285,...,1,None,None,None,None,0.0,0,80,None,1
3,45,11380,2017,Partial Season,1000.50,2017-09-30,0.619048,9,TRUE,4745,...,1,None,None,None,None,0.0,0,80,None,0
4,45,23237,2017,Partial Season,287.75,2017-08-08,0.583333,140,TRUE,5475,...,1,None,None,None,None,0.0,0,80,None,0

### Check how much data we have for each season:

In [4]:
df["year"].value_counts().sort_index(ascending=False)

2021    5501
2019    6430
2018    6549
2017    6668
2016    6673
2015    7126
Name: year, dtype: int64

### Done