# Check Data Availability (MSSQL)
* StelllarAlgo Data Science
* Ryan Kazmerik & Nakisa Rad
* Apr 26, 2022

In [1]:
import getpass
import pandas as pd
import pyodbc

### Create a connection to MSSQL PROD:

In [2]:
# connect to SQL Server.
SERVER = '34.206.73.189' 
DATABASE = 'datascience' 
USERNAME = 'dsAdminWrite' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

### Run the stored proc to get retention training and inference datasets:

In [3]:
lkupclientid = 36 # flames
dbname = 'stlrFlames'

cursor = CNXN.cursor()

storedProc = (
    f"""Exec {dbname}.[ds].[getRetentionScoringModelData] {lkupclientid}"""
)

df = pd.read_sql(storedProc, CNXN)

CNXN.commit()
cursor.close()

print(f"TOTAL ROWS: {df.shape[0]}")
df.head()

TOTAL ROWS: 38947

,lkupClientId,dimCustomerMasterId,year,productGrouping,totalSpent,recentDate,attendancePercent,renewedBeforeDays,isBuyer,source_tenure,...,maritalStatus,lengthOfResidenceInYrs,annualHHIncome,education,urbanicity,credits_after_refund,is_Lockdown,NumberofGamesPerSeason,CNTPostponedGames,isNextYear_Buyer
0,36,331,2015,Full Season,3236.32,2016-04-07,0.87500,252.0,TRUE,11315,...,1,None,None,None,None,0.0,0,41,None,1
1,36,801,2015,Full Season,1618.16,2016-04-05,0.50000,252.0,TRUE,8030,...,1,None,None,None,None,0.0,0,41,None,1
2,36,2005,2015,Full Season,5674.28,2016-04-05,0.58750,125.0,TRUE,4745,...,1,None,None,None,None,0.0,0,41,None,1
3,36,2936,2015,Full Season,3236.32,2016-04-07,0.20000,125.0,TRUE,5475,...,1,None,None,None,None,0.0,0,41,None,1
4,36,3189,2015,Full Season,18233.84,2016-04-07,0.80625,252.0,TRUE,6205,...,1,None,None,None,None,0.0,0,41,None,1

### Check how much data we have for each season:

In [4]:
df["year"].value_counts().sort_index(ascending=False)

2021    5501
2019    6430
2018    6549
2017    6668
2016    6673
2015    7126
Name: year, dtype: int64

### Done