# toledowalleye - Extended Feature Selection
* StelllarAlgo Data Science
* Ryan Kazmerik & Nakisa Rad
* Feb 25, 2022

## Hypothesis
Two very important components of a machine learning model are feature selection and feature engineering. Our idea is that adding some more features to the StellarAlgo retention model could improve performance of the model. This notebook will test the standard StellarAlgo retention model features.

## Experiment
This section details our experiment including querying data, data transformations, feature selection and modelling.

In [2]:
import getpass
import pyodbc
import pandas as pd
import warnings
import matplotlib.pyplot as plt

from pycaret.classification import *

warnings.filterwarnings('ignore')

### Let's connect to MSSQL and run a stored proc to get our dataset:

In [3]:
# connect to SQL Server.
SERVER = '34.206.73.189'  
DATABASE = 'datascience' 
USERNAME = 'nrad' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

In [4]:
lkupclientid = 52 # toledowalleye

cursor = CNXN.cursor()

storedProc = (
    f"""Exec [stlrAHL].[ds].[getRetentionScoringModelData] {lkupclientid}"""
)

df = pd.read_sql(storedProc, CNXN)

# apply some data transformations
df["year"] = pd.to_numeric(df["year"])

CNXN.commit()
cursor.close()

df.head()
#df.info()

,lkupClientId,dimCustomerMasterId,customerNumber,year,productGrouping,totalSpent,recentDate,attendancePercent,renewedBeforeDays,isBuyer,source_tenure,tenure,distToVenue,totalGames,recency,missed_games_1,missed_games_2,missed_games_over_2,click_link,fill_out_form,open_email,send_email,unsubscribe_email,openToSendRatio,clickToSendRatio,clickToOpenRatio,posting_records,resale_records,resale_atp,forward_records,cancel_records,email,inbound_email,inbound_phonecall,inperson_contact,internal_note,left_message,outbound_email,outbound_phonecall,phonecall,text,unknown,gender,childrenPresentInHH,maritalStatus,lengthOfResidenceInYrs,annualHHIncome,education,urbanicity,credits_after_refund,is_Lockdown,NumberofGamesPerSeason,CNTPostponedGames,isNextYear_Buyer
0,52,524,1046716,2017,Full Season,28.06,1970-01-01,0.0,17,TRUE,730,503,6.52,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,38,None,0
1,52,633,1033171,2017,Full Season,28.06,1970-01-01,0.0,7,TRUE,730,128,12.75,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,38,None,0
2,52,918,1040709,2017,Partial Season,420.00,1970-01-01,0.0,39,TRUE,730,1571,15.53,0,0,0,0,1,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,38,None,0
3,52,1926,1046180,2017,Full Season,42.09,1970-01-01,0.0,0,TRUE,730,0,6.20,0,0,1,0,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,38,None,0
4,52,2895,1032119,2017,Partial Season,360.00,1970-01-01,0.0,15,TRUE,730,182,67.09,0,0,0,0,1,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,38,None,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7853 entries, 0 to 7852
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lkupClientId            7853 non-null   int64
 1   dimCustomerMasterId     7853 non-null   int64
 2   customerNumber          7851 non-null   object
 3   year                    7853 non-null   int64
 4   productGrouping         7853 non-null   object
 5   totalSpent              7853 non-null   float64
 6   recentDate              7853 non-null   object
 7   attendancePercent       7853 non-null   float64
 8   renewedBeforeDays       7853 non-null   int64
 9   isBuyer                 7853 non-null   object
 10  source_tenure           7853 non-null   int64
 11  tenure                  7853 non-null   int64
 12  distToVenue             7853 non-null   float64
 13  totalGames              7853 non-null   int64
 14  recency                 7853 non-null   int64
 15  missed_games_1          7853 non-null   int64
 16  missed_games_2          7853 non-null   int64
 17  missed_games_over_2     7853 non-null   int64
 18  click_link              7853 non-null   int64
 19  fill_out_form           7853 non-null   int64
 20  open_email              7853 non-null   int64
 21  send_email              7853 non-null   int64
 22  unsubscribe_email       7853 non-null   int64
 23  openToSendRatio         7853 non-null   float64
 24  clickToSendRatio        7853 non-null   float64
 25  clickToOpenRatio        7853 non-null   float64
 26  posting_records         7853 non-null   int64
 27  resale_records          7853 non-null   int64
 28  resale_atp              7853 non-null   float64
 29  forward_records         7853 non-null   int64
 30  cancel_records          7853 non-null   int64
 31  email                   7853 non-null   int64
 32  inbound_email           7853 non-null   int64
 33  inbound_phonecall       7853 non-null   int64
 34  inperson_contact        7853 non-null   int64
 35  internal_note           7853 non-null   int64
 36  left_message            7853 non-null   int64
 37  outbound_email          7853 non-null   int64
 38  outbound_phonecall      7853 non-null   int64
 39  phonecall               7853 non-null   int64
 40  text                    7853 non-null   int64
 41  unknown                 7853 non-null   int64
 42  gender                  7853 non-null   object
 43  childrenPresentInHH     7853 non-null   int64
 44  maritalStatus           7853 non-null   int64
 45  lengthOfResidenceInYrs  0 non-null      object
 46  annualHHIncome          0 non-null      object
 47  education               0 non-null      object
 48  urbanicity              0 non-null      object
 49  credits_after_refund    7853 non-null   float64
 50  is_Lockdown             7853 non-null   int64
 51  NumberofGamesPerSeason  7853 non-null   int64
 52  CNTPostponedGames       0 non-null      object
 53  isNextYear_Buyer        7853 non-null   int64
dtypes: float64(8), int64(36), object(10)
memory usage: 3.2+ MB

### Let's also drop the features that only have a single value, as they won't add much differentiation to our model:

In [6]:
for col in df.columns:
    if len(df[col].unique()) == 1:
        df.drop(col,inplace=True,axis=1)
        
df.shape

(7853, 19)

### We should also drop features that have a low correlation with the target label as they won't be useful for prediction, we'll only keep features that have a correlation above a set threshold:

In [7]:
cor = df.corr()

threshold = 0.05

#Correlation with output variable
cor_target = abs(cor["isNextYear_Buyer"])

#Selecting highly correlated features
relevant_features = cor_target[cor_target > threshold]

feats = []
for name, val in relevant_features.items():
    feats.append(name)

df_correlated = df[feats]

df_correlated.shape

df_correlated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7853 entries, 0 to 7852
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   year                    7853 non-null   int64
 1   totalSpent              7853 non-null   float64
 2   attendancePercent       7853 non-null   float64
 3   source_tenure           7853 non-null   int64
 4   totalGames              7853 non-null   int64
 5   missed_games_1          7853 non-null   int64
 6   missed_games_over_2     7853 non-null   int64
 7   is_Lockdown             7853 non-null   int64
 8   NumberofGamesPerSeason  7853 non-null   int64
 9   isNextYear_Buyer        7853 non-null   int64
dtypes: float64(2), int64(8)
memory usage: 613.6 KB

### Now that we have the right features we can look at the correlations between them, if features are highly correlated with each other it might negatively impact the model:

In [8]:
corr = df_correlated.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

### In order to compare two sets of features, we need to create some datasets for training and evalution:

In [9]:
# select % of the data for training
df_train = df_correlated.sample(frac=0.8, random_state=786).reset_index(drop=True)

# create the eval datasets for A and B
df_eval = df_correlated.drop(df_train.index).reset_index(drop=True)

# print out the number of records for training and eval
print('Data for Modeling: ' + str(df_train.shape))
print('Unseen Data For Predictions: ' + str(df_eval.shape), end="\n\n")

Data for Modeling: (6282, 10)
Unseen Data For Predictions: (1571, 10)

### Now we can model the data using a binary classification prediction for the isnextyear_buyer field to see how likely a customer is to re-purchase.

In [10]:
setup(
    data= df_train, 
    target="isNextYear_Buyer", 
    train_size = 0.80,
    data_split_shuffle=True,
    silent=True,
    numeric_features=[
        "totalSpent",
        "attendancePercent",
        "source_tenure",
        "totalGames",
        "missed_games_1",
        "missed_games_over_2",
        "is_Lockdown",
        "NumberofGamesPerSeason"
    ]
)

({'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x7f9b32ba3a60>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x7f9b32ba3970>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x7f9b32ba3790>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x7f9b32ba3a00>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x7f9b32937f40>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x7f9b32a22820>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x7f9b32a22940>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x7f9b32a22a00>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x7f9b32d92fa0>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x7f9b32b97160>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x7f9b32b975b0>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x7f9b32b97640>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x7f9b32b81fd0>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x7f9b32b76400>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x7f9b32b764f0>,
  'xgboost': <pycaret.containers.models.classification.XGBClassifierContainer at 0x7f9b32b76940>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x7f9b32b76d30>},
       year  totalSpent  attendancePercent  source_tenure  totalGames  \
 0     2021      520.00           1.611111            730          27
 1     2019      345.00           0.000000            730           0
 2     2017      928.38           0.000000            730           0
 3     2021      570.00           1.666667            730          10
 4     2017       60.08           0.000000            171           0
 ...    ...         ...                ...            ...         ...
 6277  2019     3023.28           0.000000            730           0
 6278  2018     1408.48           0.000000            730           0
 6279  2018      345.00           0.000000            730           0
 6280  2021      240.00           1.000000            730           2
 6281  2017       28.06           0.000000            730           0

       missed_games_1  missed_games_over_2  is_Lockdown  \
 0                  0                    0            1
 1                  0                    1            0
 2                  0                    1            0
 3                  0                    0            1
 4                  1                    0            0
 ...              ...                  ...          ...
 6277               0                    1            0
 6278               0                    1            0
 6279               0                    1            0
 6280               0                    0            1
 6281               1                    0            0

       NumberofGamesPerSeason  isNextYear_Buyer
 0                         53                 0
 1                         38                 0
 2                         38                 1
 3                         53                 0
 4                         38                 0
 ...                      ...               ...
 6277                      38                 0
 6278                      38                 1
 6279                      38                 1
 6280                      53                 0
 6281                      38                 0

 [6282 rows x 10 columns],
 '2691',
 5,
 StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
 None,
 [('Setup Config',
                                  Description             Value
   0                               session_id              1940
   1                                   Target  isNextYear_Buyer
   2                              Target Type            Binary
   3                            Label Encoded        0: 0, 1: 1
   4                            Original Data        (6282, 10)
   5                           Missing Values             False
   6                         Numeric Features                 8
   7                     Categorical Features                 1
   8                         Ordinal Features             False
   9                High Cardinality Features             False
   10                 High Cardinality Method              None
   11                   Transformed Train Set        (5025, 10)
   12                    Transformed Test Set        (1257, 10)
   13                      Shuffle Train-Test              True
   14                     Stratify Train-Test             False
   15                          Fold Generator   StratifiedKFold
   16                             Fold Number                10
   17                                CPU Jobs                -1
   18                                 Use GPU             False
   19                          Log Experiment             False
   20                         Experiment Name  clf-default-name
   21                                     USI              2691
   22                         Imputation Type            simple
   23          Iterative Imputation Iteration              None
   24                         Numeric Imputer              mean
   25      Iterative Imputation Numeric Model              None
   26                     Categorical Imputer          constant
   27  Iterative Imputation Categorical Model              None
   28           Unknown Categoricals Handling    least_frequent
   29                               Normalize             False
   30                        Normalize Method              None
   31                          Transformation             False
   32                   Transformation Method              None
   33                                     PCA             False
   34                              PCA Method              None
   35                          PCA Components              None
   36                     Ignore Low Variance             False
   37                     Combine Rare Levels             False
   38                    Rare Level Threshold              None
   39                         Numeric Binning             False
   40                         Remove Outliers             False
   41                      Outliers Threshold              None
   42                Remove Multicollinearity             False
   43             Multicollinearity Threshold              None
   44             Remove Perfect Collinearity              True
   45                              Clustering             False
   46                    Clustering Iteration              None
   47                     Polynomial Features             False
   48                       Polynomial Degree              None
   49                    Trignometry Features             False
   50                    Polynomial Threshold              None
   51                          Group Features             False
   52                       Feature Selection             False
   53                Feature Selection Method           classic
   54            Features Selection Threshold              None
   55                     Feature Interaction             False
   56                           Feature Ratio             False
   57                   Interaction Threshold              None
   58                           Fix Imbalance             False
   59                    Fix Imbalance Method             SMOTE),
  ('X_training Set',
          totalSpent  attendancePercent  source_tenure  totalGames  \
   2666   240.000000                1.0          730.0         2.0
   4379   240.000000                1.0          730.0         2.0
   1826   900.000000                0.0          730.0         0.0
   5383  1960.199951                0.0          730.0         0.0
   3171   240.000000                1.0          730.0         2.0
   ...           ...                ...            ...         ...
   1741   684.000000                1.5          730.0         9.0
   1814  1027.119995                0.0          730.0         0.0
   4032    50.820000                0.0            0.0         0.0
   4783   510.000000                0.0          730.0         0.0
   2651   288.000000                0.0          730.0         0.0

         missed_games_1  missed_games_over_2  year_2017  year_2018  year_2019  \
   2666             0.0                  0.0        0.0        0.0        0.0
   4379             0.0                  0.0        0.0        0.0        0.0
   1826             0.0                  1.0        0.0        0.0        1.0
   5383             0.0                  1.0        0.0        1.0        0.0
   3171             0.0                  0.0        0.0        0.0        0.0
   ...              ...                  ...        ...        ...        ...
   1741             0.0                  0.0        0.0        0.0        0.0
   1814             0.0                  1.0        1.0        0.0        0.0
   4032             1.0                  0.0        1.0        0.0        0.0
   4783             0.0                  1.0        0.0        1.0        0.0
   2651             0.0                  1.0        0.0        0.0        1.0

         year_2021
   2666        1.0
   4379        1.0
   1826        0.0
   5383        0.0
   3171        1.0
   ...         ...
   1741        1.0
   1814        0.0
   4032        0.0
   4783        0.0
   2651        0.0

   [5025 rows x 10 columns]),
  ('y_training Set',
   2666    0
   4379    0
   1826    0
   5383    0
   3171    0
          ..
   1741    0
   1814    1
   4032    0
   4783    1
   2651    0
   Name: isNextYear_Buyer, Length: 5025, dtype: int64),
  ('X_test Set',
          totalSpent  attendancePercent  source_tenure  totalGames  \
   2139   240.000000           1.000000          730.0         2.0
   1636   540.000000           0.000000          730.0         0.0
   4380  1182.959961           0.000000          730.0         0.0
   477    270.000000           1.636364          730.0        18.0
   3249  1700.000000           1.700000          730.0        34.0
   ...           ...                ...            ...         ...
   566   3455.760010           0.000000         1702.0         0.0
   4904  3167.439941           0.000000          730.0         0.0
   967     28.059999           0.000000           42.0         0.0
   5534  3528.000000           0.000000          730.0         0.0
   1053   541.799988           0.000000          730.0         0.0

         missed_games_1  missed_games_over_2  year_2017  year_2018  year_2019  \
   2139             0.0                  0.0        0.0        0.0        0.0
   1636             0.0                  1.0        1.0        0.0        0.0
   4380             0.0                  1.0        0.0        1.0        0.0
   477              0.0                  0.0        0.0        0.0        0.0
   3249             0.0                  0.0        0.0        0.0        0.0
   ...              ...                  ...        ...        ...        ...
   566              0.0                  1.0        1.0        0.0        0.0
   4904             0.0                  1.0        0.0        0.0        1.0
   967              1.0                  0.0        1.0        0.0        0.0
   5534             0.0                  1.0        0.0        1.0        0.0
   1053             0.0                  1.0        1.0        0.0        0.0

         year_2021
   2139        1.0
   1636        0.0
   4380        0.0
   477         1.0
   3249        1.0
   ...         ...
   566         0.0
   4904        0.0
   967         0.0
   5534        0.0
   1053        0.0

   [1257 rows x 10 columns]),
  ('y_test Set',
   2139    0
   1636    1
   4380    1
   477     0
   3249    0
          ..
   566     1
   4904    0
   967     0
   5534    1
   1053    0
   Name: isNextYear_Buyer, Length: 1257, dtype: int64),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=False, features_todrop=[],
                                         id_columns=[],
                                         ml_usecase='classification',
                                         numerical_features=['totalSpent',
                                                             'attendancePercent',
                                                             'source_tenure',
                                                             'totalGames',
                                                             'missed_games_1',
                                                             'missed_games_over_2',
                                                             'is_Lockdown',
                                                             'NumberofGamesPerSeason'],
                                         target='isNextYear_Buyer'...
                   ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                   ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                   ('cluster_all', 'passthrough'),
                   ('dummy', Dummify(target='isNextYear_Buyer')),
                   ('fix_perfect', Remove_100(target='isNextYear_Buyer')),
                   ('clean_names', Clean_Colum_Names()),
                   ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                   ('dfs', 'passthrough'), ('pca', 'passthrough')],
            verbose=False))],
 'box-cox',
 {'acc': <pycaret.containers.metrics.classification.AccuracyMetricContainer at 0x7f9b32d0fd30>,
  'auc': <pycaret.containers.metrics.classification.ROCAUCMetricContainer at 0x7f9b32d0fd90>,
  'recall': <pycaret.containers.metrics.classification.RecallMetricContainer at 0x7f9b32d0fe20>,
  'precision': <pycaret.containers.metrics.classification.PrecisionMetricContainer at 0x7f9b32d0ff70>,
  'f1': <pycaret.containers.metrics.classification.F1MetricContainer at 0x7f9b32d08100>,
  'kappa': <pycaret.containers.metrics.classification.KappaMetricContainer at 0x7f9b32d08250>,
  'mcc': <pycaret.containers.metrics.classification.MCCMetricContainer at 0x7f9b32d082e0>},
 'clf-default-name',
 False,
 False,
 'isNextYear_Buyer',
 True,
 'lightgbm',
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x7f9b32b6d460>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x7f9b32b6d5b0>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x7f9b32b6d5e0>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x7f9b32b6d7f0>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x7f9b32b6daf0>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x7f9b32b6dd90>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x7f9b32b6dee0>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x7f9b32b6dfa0>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x7f9b32b66280>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x7f9b32b66460>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x7f9b32b6d1c0>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x7f9b32b6d1f0>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x7f9b32b6d280>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x7f9b32b66bb0>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x7f9b32b66cd0>,
  'xgboost': <pycaret.containers.models.classification.XGBClassifierContainer at 0x7f9b32d0f130>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x7f9b32d0f610>,
  'Bagging': <pycaret.containers.models.classification.BaggingClassifierContainer at 0x7f9b32d0fa90>,
  'Stacking': <pycaret.containers.models.classification.StackingClassifierContainer at 0x7f9b32d0fa30>,
  'Voting': <pycaret.containers.models.classification.VotingClassifierContainer at 0x7f9b32d0fc70>,
  'CalibratedCV': <pycaret.containers.models.classification.CalibratedClassifierCVContainer at 0x7f9b32d0fcd0>},
 Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False),
 Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['totalSpent',
                                                           'attendancePercent',
                                                           'source_tenure',
                                                           'totalGames',
                                                           'missed_games_1',
                                                           'missed_games_over_2',
                                                           'is_Lockdown',
                                                           'NumberofGamesPerSeason'],
                                       target='isNextYear_Buyer'...
                 ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                 ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                 ('cluster_all', 'passthrough'),
                 ('dummy', Dummify(target='isNextYear_Buyer')),
                 ('fix_perfect', Remove_100(target='isNextYear_Buyer')),
                 ('clean_names', Clean_Colum_Names()),
                 ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                 ('dfs', 'passthrough'), ('pca', 'passthrough')],
          verbose=False),
 False,
 1940,
 None,
        totalSpent  attendancePercent  source_tenure  totalGames  \
 0      520.000000           1.611111          730.0        27.0
 1      345.000000           0.000000          730.0         0.0
 2      928.380005           0.000000          730.0         0.0
 3      570.000000           1.666667          730.0        10.0
 4       60.080002           0.000000          171.0         0.0
 ...           ...                ...            ...         ...
 6277  3023.280029           0.000000          730.0         0.0
 6278  1408.479980           0.000000          730.0         0.0
 6279   345.000000           0.000000          730.0         0.0
 6280   240.000000           1.000000          730.0         2.0
 6281    28.059999           0.000000          730.0         0.0

       missed_games_1  missed_games_over_2  year_2017  year_2018  year_2019  \
 0                0.0                  0.0        0.0        0.0        0.0
 1                0.0                  1.0        0.0        0.0        1.0
 2                0.0                  1.0        1.0        0.0        0.0
 3                0.0                  0.0        0.0        0.0        0.0
 4                1.0                  0.0        1.0        0.0        0.0
 ...              ...                  ...        ...        ...        ...
 6277             0.0                  1.0        0.0        0.0        1.0

In [11]:
model_matrix = compare_models(
    fold=10,
    include=["lr", "xgboost"]
)

In [12]:
best_model = create_model(model_matrix)
final_model = finalize_model(best_model)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

## Observations
Here you can document some ideas on the results from above

## Conclusions
Here you can talk about next steps, did the experiment work? If yes, what to do next? If no, why?