# Experiment - Ensemble and Stacking
* StellarAlgo Data Science
* February 17, 2023
* Grant Donst, Peter Morrison

In [1]:
import pandas as pd
import os

from data_sci_toolkit.aws_tools import redshift_tools
from pycaret.classification import *

In [2]:
df = redshift_tools.get_retention_dataset(
    cluster= "prod-app",
    database= "stlrlagalaxy",
    lkupclientid= 6,
    start_year= 2015,
    end_year= 2021
)
df.shape

Attempting to automatically open the SSO authorization page in your default browser.
If the browser does not open or you wish to use a different device to authorize this request, open the following URL:

https://device.sso.us-east-1.amazonaws.com/

Then enter the code:

GJMJ-MFZD
Successfully logged into Start URL: https://stellaralgo.awsapps.com/start#/
Authorized as AROASQ4JELIXYLYV6P4UV:gdonst@stellaralgo.com

(108833, 24)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108833 entries, 0 to 108832
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   lkupclientid         108833 non-null  int64
 1   clientcode           108833 non-null  object
 2   dimcustomermasterid  108833 non-null  int64
 3   year                 108833 non-null  int64
 4   productgrouping      108833 non-null  object
 5   totalspent           108833 non-null  float64
 6   recentdate           108833 non-null  datetime64[ns]
 7   attendancepercent    103614 non-null  float64
 8   renewedbeforedays    108793 non-null  float64
 9   source_tenure        108793 non-null  object
 10  tenure               108793 non-null  float64
 11  disttovenue          108833 non-null  float64
 12  recency              108833 non-null  int64
 13  missed_games_1       108833 non-null  object
 14  missed_games_2       108833 non-null  object
 15  missed_games_over_2  108833 non-null  object
 16  forward_records      108833 non-null  int64
 17  opentosendratio      108833 non-null  object
 18  clicktosendratio     108833 non-null  object
 19  clicktoopenratio     108833 non-null  object
 20  gender               108833 non-null  object
 21  phonecall            108833 non-null  int64
 22  inperson_contact     108833 non-null  int64
 23  isnextyear_buyer     108833 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(8), object(10)
memory usage: 19.9+ MB

In [4]:
# copy original dataframe
df_dataset = df
features = [
    "attendancepercent",
    "disttovenue",
    "inperson_contact",
    "missed_games_1",
    "missed_games_2",
    "missed_games_over_2",
    "recency",
    "tenure",
    "totalspent",
    "isnextyear_buyer"
]

# create training and eval datasets
df_train = df_dataset.sample(frac=0.85, random_state=786)
df_train = df_train.reset_index(drop=True)

df_eval = df_dataset.drop(df_train.index)
df_eval = df_eval.reset_index(drop=True)

# print out the number of records for training and eval
print('Data for Training: ' + str(df_train.shape))
print('Data for Evaluation: ' + str(df_eval.shape), end="\n")

Data for Training: (92508, 24)
Data for Evaluation: (16325, 24)

In [5]:
setup(
    data = df_train, 
    target = 'isnextyear_buyer', 
    train_size = 0.85,
    data_split_shuffle = True,
    numeric_features = [
        "attendancepercent",
        "disttovenue",
        "inperson_contact",
        "missed_games_1",
        "missed_games_2",
        "missed_games_over_2",
        "recency",
        "tenure",
        "totalspent"
    ],
    silent = True,
    verbose = False
);

In [65]:
model_matrix = compare_models(
    fold=10,
    include= ["lightgbm"]
)

In [67]:
best_model = create_model(model_matrix, fold=10);
final_model = finalize_model(best_model);

### Ensemble - bagged

In [68]:
algo = create_model('lightgbm');
bagged_algo = ensemble_model(algo)
print(bagged_algo)

BaggingClassifier(base_estimator=LGBMClassifier(boosting_type='gbdt',
                                                class_weight=None,
                                                colsample_bytree=1.0,
                                                importance_type='split',
                                                learning_rate=0.1, max_depth=-1,
                                                min_child_samples=20,
                                                min_child_weight=0.001,
                                                min_split_gain=0.0,
                                                n_estimators=100, n_jobs=-1,
                                                num_leaves=31, objective=None,
                                                random_state=1287,
                                                reg_alpha=0.0, reg_lambda=0.0,
                                                silent='warn', subsample=1.0,
                                                subsample_for_bin=200000,
                                                subsample_freq=0),
                  bootstrap=True, bootstrap_features=False, max_features=1.0,
                  max_samples=1.0, n_estimators=10, n_jobs=None,
                  oob_score=False, random_state=1287, verbose=0,
                  warm_start=False)

In [69]:
bagged_algo2 = ensemble_model(algo, n_estimators=50)

### Enemble - Boosting

In [70]:
lightgbm = create_model('lightgbm');
boosted_dt = ensemble_model(lightgbm, method = 'Boosting')

### Ensemble - Blending

In [71]:
# train individual models to blend
lightgbm = create_model('lightgbm', verbose = False)
dt = create_model('dt', verbose = False)
lr = create_model('lr', verbose = False)

/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1221: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/sklearn/metrics/_classification.py:846: RuntimeWarning: invalid value encountered in double_scalars
  mcc = cov_ytyp / np.sqrt(cov_ytyt * cov_ypyp)

In [72]:
# blend individual models
blend_soft = blend_models(estimator_list = [lightgbm, dt, lr], method = 'soft')

In [73]:
# blend individual models
blend_hard = blend_models(estimator_list = [lightgbm, dt, lr], method = 'hard')

In [6]:
# blend top3 models from compare_models
top3 = compare_models(n_select = 3)
blender_top3 = blend_models(top3)
print(blender_top3.estimators_)

Initiated  . . . . . . . . . . . . . . . . . .                      16:08:38
Status     . . . . . . . . . . . . . . . . . .              Fitting 10 Folds
Estimator  . . . . . . . . . . . . . . . . . .  Linear Discriminant Analysis

In [ ]:
# blend top4 models from compare_models
top4 = compare_models(n_select = 4)
blender_top4 = blend_models(top4)
print(blender_top4.estimators_)

## Stacking

In [16]:
lightgbm = create_model('lightgbm');
dt = create_model('dt');
lr = create_model('lr');

In [17]:
stack_soft = stack_models([lightgbm, dt, lr])

In [18]:
xgboost = create_model('xgboost')
stack_soft2 = stack_models([lightgbm, dt, lr], meta_model=xgboost)

In [18]:
stack_soft3 = stack_models(top3, meta_model=xgboost, restack=False)

## League model stacking