# Experiment - Hyperparameter Tuning
* StellarAlgo Data Science
* January 20, 2023
* Grant Donst, Ryan Kazmerik, Peter Morrison

### This experiment is designed to test the effectiveness of hyper parameter tuning within the Pycaret package. We will first test the default configuration using RandomGridSearch and then test passing in a CustomGrid as well.

In [1]:
import pandas as pd

from data_sci_toolkit.aws_tools import redshift_tools
from pycaret.classification import *

/opt/miniconda3/envs/stellar/lib/python3.8/site-packages/requests/__init__.py:109: RequestsDependencyWarning: urllib3 (1.26.12) or chardet (5.0.0)/charset_normalizer (2.0.12) doesn't match a supported version!
  warnings.warn(

In [2]:
df = redshift_tools.get_retention_dataset(
    cluster= "prod-app",
    database= "stlrnhljets",
    lkupclientid= 92,
    start_year= 2018,
    end_year= 2021
)
df.shape

Authorized as AROASQ4JELIXYLYV6P4UV:rkazmerik@stellaralgo.com

(76645, 24)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76645 entries, 0 to 76644
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   lkupclientid         76645 non-null  int64
 1   clientcode           76645 non-null  object
 2   dimcustomermasterid  76645 non-null  int64
 3   year                 76645 non-null  int64
 4   productgrouping      76645 non-null  object
 5   totalspent           76645 non-null  float64
 6   recentdate           76645 non-null  datetime64[ns]
 7   attendancepercent    76645 non-null  float64
 8   renewedbeforedays    76645 non-null  int64
 9   source_tenure        76645 non-null  object
 10  tenure               76645 non-null  int64
 11  disttovenue          76645 non-null  float64
 12  recency              76645 non-null  int64
 13  missed_games_1       76645 non-null  object
 14  missed_games_2       76645 non-null  object
 15  missed_games_over_2  76645 non-null  object
 16  forward_records      76645 non-null  int64
 17  opentosendratio      76645 non-null  object
 18  clicktosendratio     76645 non-null  object
 19  clicktoopenratio     76645 non-null  object
 20  gender               76645 non-null  object
 21  phonecall            76645 non-null  int64
 22  inperson_contact     76645 non-null  int64
 23  isnextyear_buyer     76645 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(10), object(10)
memory usage: 14.0+ MB

In [4]:
# copy original dataframe
df_dataset = df
features = [
    "attendancepercent",
    "disttovenue",
    "inperson_contact",
    "missed_games_1",
    "missed_games_2",
    "missed_games_over_2",
    "recency",
    "tenure",
    "totalspent",
    "isnextyear_buyer"
]

# create training and eval datasets
df_train = df_dataset.sample(frac=0.85, random_state=786)
df_train = df_train.reset_index(drop=True)

df_eval = df_dataset.drop(df_train.index)
df_eval = df_eval.reset_index(drop=True)

# print out the number of records for training and eval
print('Data for Training: ' + str(df_train.shape))
print('Data for Evaluation: ' + str(df_eval.shape), end="\n")

Data for Training: (65148, 24)
Data for Evaluation: (11497, 24)

In [5]:
setup(
    data = df_train, 
    target = 'isnextyear_buyer', 
    train_size = 0.85,
    data_split_shuffle = True,
    numeric_features = [
        "attendancepercent",
        "disttovenue",
        "inperson_contact",
        "missed_games_1",
        "missed_games_2",
        "missed_games_over_2",
        "recency",
        "tenure",
        "totalspent"
    ],
    silent = True,
    verbose = False
);

In [6]:
model_matrix = compare_models(
    fold=10,
    include= ["lightgbm"]
)

In [7]:
best_model = create_model(model_matrix);

### Let's have a look at the parameters included in best_model:

In [8]:
plot_model(best_model, plot = 'parameter')

                  Parameters
boosting_type           gbdt
class_weight            None
colsample_bytree         1.0
importance_type        split
learning_rate            0.1
max_depth                 -1
min_child_samples         20
min_child_weight       0.001
min_split_gain           0.0
n_estimators             100
n_jobs                    -1
num_leaves                31
objective               None
random_state            4494
reg_alpha                0.0
reg_lambda               0.0
silent                  warn
subsample                1.0
subsample_for_bin     200000
subsample_freq             0

### Now let's auto tune the parameters, optimizing first for Accuracy, then AUC, then MCC:

In [9]:
acc_model = tune_model(best_model, optimize = 'Accuracy', n_iter=100)

In [16]:
auc_model = tune_model(best_model, optimize = 'AUC', n_iter=120)

In [17]:
mcc_model = tune_model(best_model, optimize = 'MCC', n_iter=120, )

### As we can see, tuning parameters using this method does not seem to increase performance on any of the targetted metrics :(

### Let's explore implementing a custom search method for hyperparameter tuning:

In [11]:
f1_model = tune_model(best_model, optimize='F1', search_library='scikit-optimize', )

### The results are showing that optimizing using this method actually decreases the model Accuracy :(

### Let's explore the alternate custom search library:

In [12]:
hype_model = tune_model(best_model, optimize='Accuracy', search_library='tune-sklearn', search_algorithm='hyperopt', n_iter=120)

### We see very modest gains in almost every metric, and wonder if training on SageMaker with a much larger instances would allow us to increase the number of iterations to 10,000 and see more significant improvements.