# grizzlies - Extended Feature Selection
* StelllarAlgo Data Science
* Ryan Kazmerik & Nakisa Rad
* Feb 22, 2022

## Hypothesis
Two very important components of a machine learning model are feature selection and feature engineering. Our idea is that adding some more features to the StellarAlgo retention model could improve performance of the model. This notebook will test the standard StellarAlgo retention model features.

## Experiment
This section details our experiment including querying data, data transformations, feature selection and modelling.

In [1]:
import getpass
import pyodbc
import pandas as pd
import warnings
import matplotlib.pyplot as plt

from pycaret.classification import *

warnings.filterwarnings('ignore')

### Let's connect to MSSQL and run a stored proc to get our dataset:

In [2]:
# connect to SQL Server.
SERVER = '34.206.73.189' 
DATABASE = 'datascience' 
USERNAME = 'nrad' 
PASSWORD = getpass.getpass(prompt='Enter your password')
CNXN = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+SERVER+';DATABASE='+DATABASE+';UID='+USERNAME+';PWD='+ PASSWORD)

In [3]:
lkupclientid = 27 # grizzlies

cursor = CNXN.cursor()

storedProc = (
    f"""Exec [stlrMILB].[ds].[getRetentionScoringModelData] {lkupclientid}"""
)

df = pd.read_sql(storedProc, CNXN)

# apply some data transformations
df["year"] = pd.to_numeric(df["year"])

CNXN.commit()
cursor.close()

df.head()
#df.info()

,lkupClientId,dimCustomerMasterId,customerNumber,year,productGrouping,totalSpent,recentDate,attendancePercent,renewedBeforeDays,isBuyer,source_tenure,tenure,distToVenue,totalGames,recency,missed_games_1,missed_games_2,missed_games_over_2,click_link,fill_out_form,open_email,send_email,unsubscribe_email,openToSendRatio,clickToSendRatio,clickToOpenRatio,posting_records,resale_records,resale_atp,forward_records,cancel_records,email,inbound_email,inbound_phonecall,inperson_contact,internal_note,left_message,outbound_email,outbound_phonecall,phonecall,text,unknown,gender,childrenPresentInHH,maritalStatus,lengthOfResidenceInYrs,annualHHIncome,education,urbanicity,credits_after_refund,is_Lockdown,NumberofGamesPerSeason,CNTPostponedGames,isNextYear_Buyer
0,27,323074094,325825,2014,Half Season,1656.0,2014-08-16,0.267606,-4.0,TRUE,1460,177.0,13.51,9,3,0,2,4,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,78,None,1
1,27,323077639,315195,2014,Half Season,900.0,2014-08-29,0.728571,-77.0,TRUE,1460,177.0,14.13,28,1,3,1,2,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,78,None,1
2,27,352013305,315448,2014,Full Season,1584.0,2014-08-31,0.637681,114.0,TRUE,1460,257.0,14.13,66,0,2,3,8,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,78,None,1
3,27,352013343,306343,2014,Club Seats,1200.0,2014-04-19,0.055556,49.0,TRUE,1460,190.0,34.37,1,16,1,0,1,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,78,None,1
4,27,352013516,314649,2014,Club Seats,825.0,2014-09-01,0.850000,20.0,TRUE,1460,135.0,11.52,9,0,1,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,Unknown,1,1,None,None,None,None,0.0,0,78,None,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6328 entries, 0 to 6327
Data columns (total 54 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   lkupClientId            6328 non-null   int64
 1   dimCustomerMasterId     6328 non-null   int64
 2   customerNumber          6328 non-null   object
 3   year                    6328 non-null   int64
 4   productGrouping         6328 non-null   object
 5   totalSpent              6328 non-null   float64
 6   recentDate              6328 non-null   object
 7   attendancePercent       6328 non-null   float64
 8   renewedBeforeDays       6292 non-null   float64
 9   isBuyer                 6328 non-null   object
 10  source_tenure           6328 non-null   int64
 11  tenure                  6292 non-null   float64
 12  distToVenue             6328 non-null   float64
 13  totalGames              6328 non-null   int64
 14  recency                 6328 non-null   int64
 15  missed_games_1          6328 non-null   int64
 16  missed_games_2          6328 non-null   int64
 17  missed_games_over_2     6328 non-null   int64
 18  click_link              6328 non-null   int64
 19  fill_out_form           6328 non-null   int64
 20  open_email              6328 non-null   int64
 21  send_email              6328 non-null   int64
 22  unsubscribe_email       6328 non-null   int64
 23  openToSendRatio         6328 non-null   float64
 24  clickToSendRatio        6328 non-null   float64
 25  clickToOpenRatio        6328 non-null   float64
 26  posting_records         6328 non-null   int64
 27  resale_records          6328 non-null   int64
 28  resale_atp              6328 non-null   float64
 29  forward_records         6328 non-null   int64
 30  cancel_records          6328 non-null   int64
 31  email                   6328 non-null   int64
 32  inbound_email           6328 non-null   int64
 33  inbound_phonecall       6328 non-null   int64
 34  inperson_contact        6328 non-null   int64
 35  internal_note           6328 non-null   int64
 36  left_message            6328 non-null   int64
 37  outbound_email          6328 non-null   int64
 38  outbound_phonecall      6328 non-null   int64
 39  phonecall               6328 non-null   int64
 40  text                    6328 non-null   int64
 41  unknown                 6328 non-null   int64
 42  gender                  6328 non-null   object
 43  childrenPresentInHH     6328 non-null   int64
 44  maritalStatus           6328 non-null   int64
 45  lengthOfResidenceInYrs  0 non-null      object
 46  annualHHIncome          0 non-null      object
 47  education               0 non-null      object
 48  urbanicity              0 non-null      object
 49  credits_after_refund    6328 non-null   float64
 50  is_Lockdown             6328 non-null   int64
 51  NumberofGamesPerSeason  6328 non-null   int64
 52  CNTPostponedGames       0 non-null      object
 53  isNextYear_Buyer        6328 non-null   int64
dtypes: float64(10), int64(34), object(10)
memory usage: 2.6+ MB

### Let's also drop the features that only have a single value, as they won't add much differentiation to our model:

In [5]:
for col in df.columns:
    if len(df[col].unique()) == 1:
        df.drop(col,inplace=True,axis=1)
        
df.shape

(6328, 19)

### We should also drop features that have a low correlation with the target label as they won't be useful for prediction, we'll only keep features that have a correlation above a set threshold:

In [6]:
cor = df.corr()

threshold = 0.05

#Correlation with output variable
cor_target = abs(cor["isNextYear_Buyer"])

#Selecting highly correlated features
relevant_features = cor_target[cor_target > threshold]

feats = []
for name, val in relevant_features.items():
    feats.append(name)

df_correlated = df[feats]

df_correlated.shape

df_correlated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6328 entries, 0 to 6327
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dimCustomerMasterId  6328 non-null   int64
 1   year                 6328 non-null   int64
 2   totalSpent           6328 non-null   float64
 3   attendancePercent    6328 non-null   float64
 4   source_tenure        6328 non-null   int64
 5   tenure               6292 non-null   float64
 6   totalGames           6328 non-null   int64
 7   missed_games_1       6328 non-null   int64
 8   missed_games_2       6328 non-null   int64
 9   missed_games_over_2  6328 non-null   int64
 10  is_Lockdown          6328 non-null   int64
 11  isNextYear_Buyer     6328 non-null   int64
dtypes: float64(3), int64(9)
memory usage: 593.4 KB

### Now that we have the right features we can look at the correlations between them, if features are highly correlated with each other it might negatively impact the model:

In [7]:
corr = df_correlated.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

### In order to compare two sets of features, we need to create some datasets for training and evalution:

In [8]:
# select % of the data for training
df_train = df_correlated.sample(frac=0.8, random_state=786).reset_index(drop=True)

# create the eval datasets for A and B
df_eval = df_correlated.drop(df_train.index).reset_index(drop=True)

# print out the number of records for training and eval
print('Data for Modeling: ' + str(df_train.shape))
print('Unseen Data For Predictions: ' + str(df_eval.shape), end="\n\n")

Data for Modeling: (5062, 12)
Unseen Data For Predictions: (1266, 12)

### Now we can model the data using a binary classification prediction for the isnextyear_buyer field to see how likely a customer is to re-purchase.

In [11]:
setup(
    data= df_train, 
    target="isNextYear_Buyer", 
    train_size = 0.80,
    data_split_shuffle=True,
    silent=True,
    numeric_features=[
        "totalSpent",
        "attendancePercent",
        "source_tenure",
        "tenure",
        "totalGames",
        "missed_games_1",
        "missed_games_2",
        "missed_games_over_2",
        "is_Lockdown"
    ]
)

('ca90',
 -1,
 'lightgbm',
 None,
       dimCustomerMasterId   totalSpent  attendancePercent  source_tenure  \
 2601          352031968.0   900.000000           0.375000         1460.0
 497           352023808.0   900.000000           0.157143         1460.0
 4941          352018400.0  3600.000000           0.117647         1460.0
 3757          352027488.0  1060.000000           0.096154         1460.0
 3561          323099840.0  1960.000000           0.000000         1460.0
 ...                   ...          ...                ...            ...
 62            352019136.0   748.000000           0.125000         1460.0
 4316          352033696.0    75.400002           1.000000         1460.0
 3928          352034368.0   270.000000           0.285714         1460.0
 1814          352033760.0    80.000000           0.875000         1460.0
 4021          352032704.0  1296.000000           0.119403         1460.0

       tenure  totalGames  missed_games_1  missed_games_2  missed_games_over_2  \
 2601  1642.0         5.0             1.0             0.0                  2.0
 497     55.0         6.0             1.0             0.0                  5.0
 4941  1965.0         5.0             0.0             0.0                  4.0
 3757   110.0         5.0             0.0             1.0                  3.0
 3561   525.0         0.0             0.0             0.0                  0.0
 ...      ...         ...             ...             ...                  ...
 62     480.0         3.0             0.0             0.0                  1.0
 4316     2.0         1.0             0.0             0.0                  0.0
 3928   256.0        10.0             4.0             3.0                  2.0
 1814     0.0         1.0             1.0             0.0                  0.0
 4021  1237.0        10.0             0.0             1.0                  4.0

       year_2014  year_2015  year_2016  year_2017  year_2018  year_2019  \
 2601        0.0        0.0        0.0        0.0        1.0        0.0
 497         1.0        0.0        0.0        0.0        0.0        0.0
 4941        0.0        0.0        0.0        0.0        0.0        1.0
 3757        0.0        0.0        1.0        0.0        0.0        0.0
 3561        0.0        0.0        0.0        0.0        0.0        0.0
 ...         ...        ...        ...        ...        ...        ...
 62          0.0        0.0        1.0        0.0        0.0        0.0
 4316        0.0        1.0        0.0        0.0        0.0        0.0
 3928        1.0        0.0        0.0        0.0        0.0        0.0
 1814        0.0        0.0        1.0        0.0        0.0        0.0
 4021        0.0        0.0        0.0        0.0        1.0        0.0

       year_2020
 2601        0.0
 497         0.0
 4941        0.0
 3757        0.0
 3561        1.0
 ...         ...
 62          0.0
 4316        0.0
 3928        0.0
 1814        0.0
 4021        0.0

 [4049 rows x 16 columns],
 [],
 False,
 [<pandas.io.formats.style.Styler at 0x7f9c4b8a9730>],
 [],
 None,
 [('Setup Config',
                                  Description             Value
   0                               session_id              8651
   1                                   Target  isNextYear_Buyer
   2                              Target Type            Binary
   3                            Label Encoded        0: 0, 1: 1
   4                            Original Data        (5062, 12)
   5                           Missing Values              True
   6                         Numeric Features                10
   7                     Categorical Features                 1
   8                         Ordinal Features             False
   9                High Cardinality Features             False
   10                 High Cardinality Method              None
   11                   Transformed Train Set        (4049, 16)
   12                    Transformed Test Set        (1013, 16)
   13                      Shuffle Train-Test              True
   14                     Stratify Train-Test             False
   15                          Fold Generator   StratifiedKFold
   16                             Fold Number                10
   17                                CPU Jobs                -1
   18                                 Use GPU             False
   19                          Log Experiment             False
   20                         Experiment Name  clf-default-name
   21                                     USI              ca90
   22                         Imputation Type            simple
   23          Iterative Imputation Iteration              None
   24                         Numeric Imputer              mean
   25      Iterative Imputation Numeric Model              None
   26                     Categorical Imputer          constant
   27  Iterative Imputation Categorical Model              None
   28           Unknown Categoricals Handling    least_frequent
   29                               Normalize             False
   30                        Normalize Method              None
   31                          Transformation             False
   32                   Transformation Method              None
   33                                     PCA             False
   34                              PCA Method              None
   35                          PCA Components              None
   36                     Ignore Low Variance             False
   37                     Combine Rare Levels             False
   38                    Rare Level Threshold              None
   39                         Numeric Binning             False
   40                         Remove Outliers             False
   41                      Outliers Threshold              None
   42                Remove Multicollinearity             False
   43             Multicollinearity Threshold              None
   44             Remove Perfect Collinearity              True
   45                              Clustering             False
   46                    Clustering Iteration              None
   47                     Polynomial Features             False
   48                       Polynomial Degree              None
   49                    Trignometry Features             False
   50                    Polynomial Threshold              None
   51                          Group Features             False
   52                       Feature Selection             False
   53                Feature Selection Method           classic
   54            Features Selection Threshold              None
   55                     Feature Interaction             False
   56                           Feature Ratio             False
   57                   Interaction Threshold              None
   58                           Fix Imbalance             False
   59                    Fix Imbalance Method             SMOTE),
  ('X_training Set',
         dimCustomerMasterId   totalSpent  attendancePercent  source_tenure  \
   2601          352031968.0   900.000000           0.375000         1460.0
   497           352023808.0   900.000000           0.157143         1460.0
   4941          352018400.0  3600.000000           0.117647         1460.0
   3757          352027488.0  1060.000000           0.096154         1460.0
   3561          323099840.0  1960.000000           0.000000         1460.0
   ...                   ...          ...                ...            ...
   62            352019136.0   748.000000           0.125000         1460.0
   4316          352033696.0    75.400002           1.000000         1460.0
   3928          352034368.0   270.000000           0.285714         1460.0
   1814          352033760.0    80.000000           0.875000         1460.0
   4021          352032704.0  1296.000000           0.119403         1460.0

         tenure  totalGames  missed_games_1  missed_games_2  missed_games_over_2  \
   2601  1642.0         5.0             1.0             0.0                  2.0
   497     55.0         6.0             1.0             0.0                  5.0
   4941  1965.0         5.0             0.0             0.0                  4.0
   3757   110.0         5.0             0.0             1.0                  3.0
   3561   525.0         0.0             0.0             0.0                  0.0
   ...      ...         ...             ...             ...                  ...
   62     480.0         3.0             0.0             0.0                  1.0
   4316     2.0         1.0             0.0             0.0                  0.0
   3928   256.0        10.0             4.0             3.0                  2.0
   1814     0.0         1.0             1.0             0.0                  0.0
   4021  1237.0        10.0             0.0             1.0                  4.0

         year_2014  year_2015  year_2016  year_2017  year_2018  year_2019  \
   2601        0.0        0.0        0.0        0.0        1.0        0.0
   497         1.0        0.0        0.0        0.0        0.0        0.0
   4941        0.0        0.0        0.0        0.0        0.0        1.0
   3757        0.0        0.0        1.0        0.0        0.0        0.0
   3561        0.0        0.0        0.0        0.0        0.0        0.0
   ...         ...        ...        ...        ...        ...        ...
   62          0.0        0.0        1.0        0.0        0.0        0.0
   4316        0.0        1.0        0.0        0.0        0.0        0.0
   3928        1.0        0.0        0.0        0.0        0.0        0.0
   1814        0.0        0.0        1.0        0.0        0.0        0.0
   4021        0.0        0.0        0.0        0.0        1.0        0.0

         year_2020
   2601        0.0
   497         0.0
   4941        0.0
   3757        0.0
   3561        1.0
   ...         ...
   62          0.0
   4316        0.0
   3928        0.0
   1814        0.0
   4021        0.0

   [4049 rows x 16 columns]),
  ('y_training Set',
   2601    1
   497     1
   4941    0
   3757    0
   3561    0
          ..
   62      1
   4316    0
   3928    0
   1814    0
   4021    1
   Name: isNextYear_Buyer, Length: 4049, dtype: int64),
  ('X_test Set',
         dimCustomerMasterId  totalSpent  attendancePercent  source_tenure  \
   4577          352021120.0      3740.0           0.180556         1460.0
   160           323077216.0        75.0           0.000000         1460.0
   1435          352013600.0      1345.5           0.205128         1095.0
   3193          352027456.0       216.0           0.600000         1460.0
   2518          352020416.0      6400.0           0.544118         1460.0
   ...                   ...         ...                ...            ...
   1973          352027328.0       650.0           0.000000         1460.0
   3999          352034624.0       646.0           0.093750         1460.0
   4278          352032096.0      2304.0           0.342857         1460.0
   930           352029024.0       414.0           0.444444         1460.0
   908           352032224.0       648.0           0.000000         1460.0

         tenure  totalGames  missed_games_1  missed_games_2  missed_games_over_2  \
   4577   904.0         6.0             1.0             1.0                  2.0
   160    342.0         0.0             0.0             0.0                  1.0
   1435   548.0         7.0             0.0             0.0                  3.0
   3193   401.0         3.0             2.0             0.0                  0.0
   2518  1271.0        42.0             5.0             2.0                  8.0
   ...      ...         ...             ...             ...                  ...
   1973  1868.0         0.0             0.0             0.0                  1.0
   3999   135.0         3.0             1.0             0.0                  2.0
   4278   827.0        18.0             0.0             0.0                  3.0
   930    499.0         8.0             1.0             2.0                  1.0
   908   2451.0         0.0             0.0             0.0                  0.0

         year_2014  year_2015  year_2016  year_2017  year_2018  year_2019  \
   4577        0.0        0.0        1.0        0.0        0.0        0.0
   160         0.0        0.0        1.0        0.0        0.0        0.0
   1435        0.0        1.0        0.0        0.0        0.0        0.0
   3193        0.0        1.0        0.0        0.0        0.0        0.0
   2518        0.0        0.0        0.0        1.0        0.0        0.0
   ...         ...        ...        ...        ...        ...        ...
   1973        0.0        0.0        0.0        0.0        0.0        1.0
   3999        1.0        0.0        0.0        0.0        0.0        0.0
   4278        0.0        0.0        0.0        1.0        0.0        0.0
   930         0.0        0.0        0.0        1.0        0.0        0.0
   908         0.0        0.0        0.0        0.0        0.0        0.0

         year_2020
   4577        0.0
   160         0.0
   1435        0.0
   3193        0.0
   2518        0.0
   ...         ...
   1973        0.0
   3999        0.0
   4278        0.0
   930         0.0
   908         1.0

   [1013 rows x 16 columns]),
  ('y_test Set',
   4577    0
   160     0
   1435    1
   3193    1
   2518    1
          ..
   1973    1
   3999    0
   4278    1
   930     0
   908     0
   Name: isNextYear_Buyer, Length: 1013, dtype: int64),
  ('Transformation Pipeline',
   Pipeline(memory=None,
            steps=[('dtypes',
                    DataTypes_Auto_infer(categorical_features=[],
                                         display_types=False, features_todrop=[],
                                         id_columns=[],
                                         ml_usecase='classification',
                                         numerical_features=['totalSpent',
                                                             'attendancePercent',
                                                             'source_tenure',
                                                             'tenure',
                                                             'totalGames',
                                                             'missed_games_1',
                                                             'missed_games_2',
                                                             'missed_games_over_2',
                                                             'is_Lockdown'],
                                         target='isNextYear_Buyer...
                   ('scaling', 'passthrough'), ('P_transform', 'passthrough'),
                   ('binn', 'passthrough'), ('rem_outliers', 'passthrough'),
                   ('cluster_all', 'passthrough'),
                   ('dummy', Dummify(target='isNextYear_Buyer')),
                   ('fix_perfect', Remove_100(target='isNextYear_Buyer')),
                   ('clean_names', Clean_Colum_Names()),
                   ('feature_select', 'passthrough'), ('fix_multi', 'passthrough'),
                   ('dfs', 'passthrough'), ('pca', 'passthrough')],
            verbose=False))],
 {'lr': <pycaret.containers.models.classification.LogisticRegressionClassifierContainer at 0x7f9c4b87ef10>,
  'knn': <pycaret.containers.models.classification.KNeighborsClassifierContainer at 0x7f9c4b66fdc0>,
  'nb': <pycaret.containers.models.classification.GaussianNBClassifierContainer at 0x7f9c4b66f790>,
  'dt': <pycaret.containers.models.classification.DecisionTreeClassifierContainer at 0x7f9c4b66f220>,
  'svm': <pycaret.containers.models.classification.SGDClassifierContainer at 0x7f9c4ba51910>,
  'rbfsvm': <pycaret.containers.models.classification.SVCClassifierContainer at 0x7f9c4ba51b80>,
  'gpc': <pycaret.containers.models.classification.GaussianProcessClassifierContainer at 0x7f9c4ba51ca0>,
  'mlp': <pycaret.containers.models.classification.MLPClassifierContainer at 0x7f9c4ba51d60>,
  'ridge': <pycaret.containers.models.classification.RidgeClassifierContainer at 0x7f9c4b85d220>,
  'rf': <pycaret.containers.models.classification.RandomForestClassifierContainer at 0x7f9c4b85d3a0>,
  'qda': <pycaret.containers.models.classification.QuadraticDiscriminantAnalysisContainer at 0x7f9c4b85d7f0>,
  'ada': <pycaret.containers.models.classification.AdaBoostClassifierContainer at 0x7f9c4b85d880>,
  'gbc': <pycaret.containers.models.classification.GradientBoostingClassifierContainer at 0x7f9c4b8c2250>,
  'lda': <pycaret.containers.models.classification.LinearDiscriminantAnalysisContainer at 0x7f9c4b8c2640>,
  'et': <pycaret.containers.models.classification.ExtraTreesClassifierContainer at 0x7f9c4b8c2730>,
  'xgboost': <pycaret.containers.models.classification.XGBClassifierContainer at 0x7f9c4b8c2b80>,
  'lightgbm': <pycaret.containers.models.classification.LGBMClassifierContainer at 0x7f9c4b8c2f70>},
 StratifiedKFold(n_splits=10, random_state=None, shuffle=False),
 Pipeline(memory=None, steps=[('empty_step', 'passthrough')], verbose=False),
 'clf-default-name',
 2601    1
 497     1
 4941    0
 3757    0
 3561    0
        ..
 62      1
 4316    0
 3928    0
 1814    0
 4021    1
 Name: isNextYear_Buyer, Length: 4049, dtype: int64,
 False,
 4577    0
 160     0
 1435    1
 3193    1
 2518    1
        ..
 1973    1
 3999    0
 4278    1
 930     0
 908     0
 Name: isNextYear_Buyer, Length: 1013, dtype: int64,
       dimCustomerMasterId  totalSpent  attendancePercent  source_tenure  \
 4577          352021120.0      3740.0           0.180556         1460.0
 160           323077216.0        75.0           0.000000         1460.0
 1435          352013600.0      1345.5           0.205128         1095.0
 3193          352027456.0       216.0           0.600000         1460.0
 2518          352020416.0      6400.0           0.544118         1460.0
 ...                   ...         ...                ...            ...
 1973          352027328.0       650.0           0.000000         1460.0
 3999          352034624.0       646.0           0.093750         1460.0
 4278          352032096.0      2304.0           0.342857         1460.0
 930           352029024.0       414.0           0.444444         1460.0
 908           352032224.0       648.0           0.000000         1460.0

       tenure  totalGames  missed_games_1  missed_games_2  missed_games_over_2  \
 4577   904.0         6.0             1.0             1.0                  2.0
 160    342.0         0.0             0.0             0.0                  1.0
 1435   548.0         7.0             0.0             0.0                  3.0
 3193   401.0         3.0             2.0             0.0                  0.0
 2518  1271.0        42.0             5.0             2.0                  8.0
 ...      ...         ...             ...             ...                  ...
 1973  1868.0         0.0             0.0             0.0                  1.0
 3999   135.0         3.0             1.0             0.0                  2.0
 4278   827.0        18.0             0.0             0.0                  3.0
 930    499.0         8.0             1.0             2.0                  1.0
 908   2451.0         0.0             0.0             0.0                  0.0

       year_2014  year_2015  year_2016  year_2017  year_2018  year_2019  \
 4577        0.0        0.0        1.0        0.0        0.0        0.0
 160         0.0        0.0        1.0        0.0        0.0        0.0
 1435        0.0        1.0        0.0        0.0        0.0        0.0
 3193        0.0        1.0        0.0        0.0        0.0        0.0
 2518        0.0        0.0        0.0        1.0        0.0        0.0
 ...         ...        ...        ...        ...        ...        ...
 1973        0.0        0.0        0.0        0.0        0.0        1.0
 3999        1.0        0.0        0.0        0.0        0.0        0.0

In [12]:
model_matrix = compare_models(
    fold=10,
    include=["lr", "xgboost"]
)

In [13]:
best_model = create_model(model_matrix)
final_model = finalize_model(best_model)

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/xgboost/sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

## Observations
Here you can document some ideas on the results from above

## Conclusions
Here you can talk about next steps, did the experiment work? If yes, what to do next? If no, why?